    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">Pas werknemer aan [ID: {{werknemer.id}}]</h3>
    </div>
    <div class="modal-body">
        <form name="werknemer_form" class="form-horizontal" role="form" novalidate>
            <form-element label="ACHTERNAAM" mod="werknemer">
                <input type="text" class="form-control" name="achternaam" placeholder="ACHTERNAAM" ng-model="werknemer.achternaam"/>
            </form-element>

            <form-element label="VOORNAAM" mod="werknemer">
                <input type="text" name="voornaam" class="form-control" placeholder="VOORNAAM" ng-model="werknemer.voornaam"/>
                <small class="errorMessage" ng-show="werknemer_form.voornaam.$dirty && werknemer_form.voornaam.$invalid"> Vul de voornaam in</small>
            </form-element>

           <form-element label="TEL" mod="werknemer">
                <input type="text" name="tel" class="form-control" placeholder="TEL" ng-model="werknemer.tel" only-numbers/>
                <small class="errorMessage" ng-show="werknemer_form.tel.$dirty && werknemer_form.tel.$invalid"> Vul het tel nr in</small>
            </form-element>

           <form-element label="WERKTEL" mod="werknemer">
                <input type="text" name="werktel" class="form-control" placeholder="WERKTEL" ng-model="werknemer.werktel" only-numbers/>
                <small class="errorMessage" ng-show="werknemer_form.werktel.$dirty && werknemer_form.werktel.$invalid"> Vul het tel nr in</small>
            </form-element>

            <form-element label="ADRES" mod="werknemer">
                <input type="text" name="adres" class="form-control" placeholder="ADRES" ng-model="werknemer.adres"/>
                <small class="errorMessage" ng-show="werknemer_form.adres.$dirty && werknemer_form.adres.$invalid"> Vul het adres in</small>
            </form-element>

            <form-element label="HUISNR" mod="werknemer">
                <input type="text" name="huisnr" class="form-control" placeholder="HUISNR" ng-model="werknemer.huisnr"/>
                <small class="errorMessage" ng-show="werknemer_form.huisnr.$dirty && werknemer_form.huisnr.$invalid"> Vul de huisnr in</small>
            </form-element>

            <form-element label="STAD" mod="werknemer">
                <input type="text" name="stad" class="form-control" placeholder="STAD" ng-model="werknemer.stad"/>
                <small class="errorMessage" ng-show="werknemer_form.stad.$dirty && werknemer_form.stad.$invalid"> Vul de stad in</small>
            </form-element>

             <form-element label="AFKOMST" mod="werknemer">
                <input type="text" name="afkomst" class="form-control" placeholder="AFKOMST" ng-model="werknemer.afkomst"/>
                <small class="errorMessage" ng-show="werknemer_form.afkomst.$dirty && werknemer_form.afkomst.$invalid"> Vul afkomst in</small>
            </form-element>

            <form-element label="POSTCODE" mod="werknemer">
                <input type="text" name="postcode" class="form-control" placeholder="POSTCODE" ng-model="werknemer.postcode"/>
                <small class="errorMessage" ng-show="werknemer_form.postcode.$dirty && werknemer_form.postcode.$invalid"> Vul de postcode in</small>
            </form-element>

             <form-element label="COMMENTS" mod="werknemer">
                <input type="text" name="comments" class="form-control" placeholder="COMMENTS" ng-model="werknemer.comments"/>
                <small class="errorMessage" ng-show="werknemer_form.comments.$dirty && werknemer_form.comments.$invalid"> Vul aanvullend commentaar in</small>
            </form-element>

            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Annuleren</a>
                        <button ng-click="saveWerknemer(werknemer);"
                                ng-disabled="werknemer_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>

