<div ng-controller="authCtrl" class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
        <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#" ng-click="logout();">Home</a>
        </li>
        <li>
            <a href="#dashboard">Dashboard</a>
        </li>
        <li ng-show="admin||manager">
            <a href="#Werknemers">Werknemers</a>
        </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
     Planningen <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="active"> <a href="#Planningen/Dagplanning"> Dagplanning </a></li>
        <li>
            <a href="#Planningen/Weekplanning">Weekplanning</a>
        </li>
            
        <li>
            <a href="#Planningen/Jaarplanning">Jaarplanning</a>
        </li>
    </ul>
    </li>
    </ul>
</div>  
<div class="btn-group">

 <label for="Datum" class="btn btn-default active">
    <input ng-click="filterData();" type="radio" id="Datum" name="dataKeus" ng-model="dataKeus" value="Datum" aria-label="Datum"> Datum
  </label>

   <label for="Tuinummer" class="btn btn-default">
    <input ng-click="filterData();" type="radio" id="tuinr" name="dataKeus" ng-model="dataKeus" value="Tuinnummer" aria-label="Tuinnummer"> Tuinnummer
  </label>

</div>
    
<hr/>
<input ng-show="dataKeus == 'Datum'" id="datumDag" class="form-control" placeholder="DD/MM/YYYY" type="date" ng-model="dagplanning.datum" />
<div ng-show="dataKeus == 'Tuinnummer'">
<input ng-show="content1 == 'TuinOogst'" id="TuinOogst" class="form-control" placeholder="TuinOogst" type="text" ng-model="dagplanning.tuinOogst" />
<input ng-show="content1 == 'TuinDieven'" id="TuinDieven" class="form-control" placeholder="TuinDieven" type="text" ng-model="dagplanning.tuinDieven"/>
<input ng-show="content1 == 'TuinBlad'" id="TuinBlad" class="form-control" placeholder="TuinBlad" type="text" ng-model="dagplanning.tuinBlad" />
<input ng-show="content1 == 'TuinSnoei'" id="TuinSnoei" class="form-control" placeholder="TuinSnoei" type="text" ng-model="dagplanning.tuinSnoei" />
<input ng-show="content1 == 'TuinZakken'" id="TuinZakken" class="form-control" placeholder="TuinZakken" type="text" ng-model="dagplanning.tuinZakken" />
</div>

<div ng-show="dataKeus =='Tuinnummer'" class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Keuzemenu
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <input type="radio" id="TuinOogst" value="TuinOogst" ng-model="content1" name="content1" aria-label="TuinOogst">Tuin oogst</li>
    <input type="radio" id="TuinDieven" value="TuinDieven" ng-model="content1" name="content1" aria-label="TuinDieven">Tuin dieven</li>
    <input type="radio" id="TuinBlad" value="TuinBlad" ng-model="content1" name="content1" aria-label="TuinBlad">Tuin Blad</li>
    <input type="radio" id="TuinSnoei" value="TuinSnoei" ng-model="content1" name="content1" aria-label="TuinSnoei">Tuin snoeien</li>
    <input type="radio" id="TuinZakken" value="TuinZakken" ng-model="content1" name="content1" aria-label="TuinZakken">Tuin zakken</li>
  </ul>
</div>

  <button ng-show="dataKeus == 'Datum'" style="margin-top: 1em;" class="btn btn-default" ng-click="getDatumDagplanning(dagplanning)">Vraag dagplanning op</button>
  <div ng-show="dataKeus == 'Tuinnummer'">
  <button ng-show="content1 == 'TuinOogst'" style="margin-top: 1em;" class="btn btn-default" ng-click="getTuinOogstDagplanning(dagplanning)">Vraag dagplanning op</button>
  <button ng-show="content1 == 'TuinDieven'" style="margin-top: 1em;" class="btn btn-default" ng-click="getTuinDievenDagplanning(dagplanning)">Vraag dagplanning op</button>
  <button ng-show="content1 == 'TuinBlad'" style="margin-top: 1em;" class="btn btn-default" ng-click="getTuinBladDagplanning(dagplanning)">Vraag dagplanning op</button>
  <button ng-show="content1 == 'TuinSnoei'" style="margin-top: 1em;" class="btn btn-default" ng-click="getTuinSnoeienDagplanning(dagplanning)">Vraag dagplanning op</button>
  <button ng-show="content1 == 'TuinZakken'" style="margin-top: 1em;" class="btn btn-default" ng-click="getTuinZakkenDagplanning(dagplanning)">Vraag dagplanning op</button>
  </div>
  <hr/>


<button type="button" class="btn btn-danger fa fa-plus" ng-click="open(dagplanning);">&nbsp;Voeg dagplanning toe</button>
<form>
<div class="btn-group">

 <label for="oogst" class="btn btn-default">
    <input type="radio" id="oogst" name="content" ng-model="content" value="oogst" aria-label="Oogst">Oogst
  </label>

   <label for="dieven" class="btn btn-default">
    <input type="radio" id="dieven" name="content" ng-model="content" value="dieven" aria-label="Dieven">Dieven/draaien
  </label>

   <label for="bladknippen" class="btn btn-default">
    <input type="radio" id="bladknippen" name="content" ng-model="content" value="bladknippen" aria-label="Bladknippen">Bladknippen
  </label>

    <label for="snoeien" class="btn btn-default">
    <input type="radio" id="snoeien" name="content" ng-model="content" value="snoeien" aria-label="Snoeien">Snoeien
  </label>

    <label for="zakken" class="btn btn-default">
    <input type="radio" id="zakken" name="content" ng-model="content" value="zakken" aria-label="Zakken">Zakken
  </label>

      <label for="verpakking" class="btn btn-default">
    <input type="radio" id="verpakking" name="content" ng-model="content" value="verpakking" aria-label="Verpakking">Verpakking
  </label>

      <label for="overige" class="btn btn-default">
    <input type="radio" id="overige" name="content" ng-model="content" value="overige" aria-label="Overige">Overige
  </label>
</div>

<div class="table-responsive">
<div class="panel panel-primary">
  <div class="panel-heading">Dagplanningen
    </div>
  <div class="panel-body">
    <table class="table table-striped">
    <tr ng-show="dagplanningen.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;Deze dagplanning bestaat niet.</td></tr>
    <tr ng-hide="dagplanningen.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>

    <tr><th ng-show="content == 'oogst'" ng-repeat="c in columnsOogst" >{{c.text}}</th></tr>
    <tr><th ng-show="content == 'dieven'" ng-repeat="c in columnsDieven">{{c.text}}</th></tr>
    <tr><th ng-show="content == 'bladknippen'" ng-repeat="c in columnsBladknippen">{{c.text}}</th></tr>
    <tr><th ng-show="content == 'snoeien'" ng-repeat="c in columnsSnoeien">{{c.text}}</th></tr>
    <tr><th ng-show="content == 'zakken'" ng-repeat="c in columnsZakken">{{c.text}}</th></tr>
    <tr><th ng-show="content == 'verpakking'" ng-repeat="c in columnsVerpakking">{{c.text}}</th></tr>
    <tr><th ng-show="content == 'overige'" ng-repeat="c in columnsOverige">{{c.text}}</th></tr>

    <tr ng-repeat="c in dagplanningen | orderBy:'-datum'" id="{{c.datum}}" ng-show="content=='oogst'">

        <td>{{c.datum}}</td>
        <td>{{c.tuinOogst}}</td>
          <td>{{c.plantenOogstDag}}</td>
          <td>{{c.normOogstDag}}</td>
          <td>{{c.verwachtUrenOogstDag}}</td>
        <td>{{c.mensNodigOogstDag}}</td>
        <td ng-show="c.mensNodigOogstDag-c.mensBeschikbaarOogstDag >=0" style="color:red;">{{c.mensBeschikbaarOogstDag}}</td>
        <td ng-show="c.mensNodigOogstDag -c.mensBeschikbaarOogstDag <0" style="color:green;">{{c.mensBeschikbaarOogstDag}}</td>
        <td ng-show="c.normOogstDag- c.normResultaatOogstDag >=0" style="color:red;">{{c.normResultaatOogstDag}}</td>
        <td ng-show="c.normOogstDag- c.normResultaatOogstDag <0" style="color:green;">{{c.normResultaatDievenDag}}</td>
        <td ng-show="c.verwachtUrenOogstDag - c.resultaatUrenOogstDag>= 0" style="color:green;">{{c.resultaatUrenOogstDag}}</td>
        <td ng-show="c.verwachtUrenOogstDag - c.resultaatUrenOogstDag < 0" style="color:red;">{{c.resultaatUrenOogstDag}}</td>
        <td style="width:100px">
            <div class="btn-group">
              <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
            </div>
        </td>
    </tr>
<tr ng-repeat="x in weekplanningen | orderBy:'-weeknr'" id="{{c.weeknr}}" ng-show="content=='oogst' || dataKeus == 'Tuinnummer'">
        <td><p style="font-weight:bold;">Weeknummer: </p>{{x.weeknr}}</td>
        <td><p style="font-weight:bold;">Verwachte plantenaantal: </p>{{x.plantenOogst/5}}</td>
        <td><p style="font-weight:bold;">Verwachte norm: </p>{{x.normVerwachtOogst/5}}</td>
        <td><p style="font-weight:bold;">Prognose uren: </p>{{x.verwachtUrenOogst/5}}</td>
        <td><p style="font-weight:bold;">Benodigde mensen: </p>{{x.mensOogstNodig/5}}</td>
        <td ng-show="x.mensOogstNodig-x.mensOogstBeschikbaar <=0" style="color:green;"><p style="font-weight:bold;">Beschikbare mensen: </p>{{x.mensOogstBeschikbaar/5}}</td>
        <td ng-show="x.mensOogstNodig-x.mensOogstBeschikbaar >0" style="color:red;"><p style="font-weight:bold;">Beschikbare mensen: </p>{{x.mensOogstBeschikbaar/5}}</td>
    </tr>

        <tr ng-repeat="c in dagplanningen | orderBy:'-datum'" id="{{c.datum}}" ng-show="content=='dieven'">
        <td>{{c.datum}}</td>
        <td>{{c.tuinDieven}}</td>
          <td>{{c.plantenDievenDag}}</td>
          <td>{{c.normDievenDag}}</td>
          <td>{{c.verwachtUrenDievenDag}}</td>
        <td>{{c.mensNodigDievenDag}}</td>
        <td ng-show="c.mensNodigDievenDag-c.mensBeschikbaarDievenDag >=0" style="color:red;">{{c.mensBeschikbaarDievenDag}}</td>
        <td ng-show="c.mensNodigDievenDag -c.mensBeschikbaarDievenDag <0" style="color:green;">{{c.mensBeschikbaarDievenDag}}</td>
        <td ng-show="c.normDievenDag - c.normResultaatDievenDag >=0" style="color:red;">{{c.normResultaatDievenDag}}</td>
        <td ng-show="c.normDievenDag - c.normResultaatDievenDag <0" style="color:green;">{{c.normResultaatDievenDag}}</td>
        <td ng-show="c.verwachtUrenDievenDag - c.resultaatUrenDievenDag >= 0" style="color:green;">{{c.resultaatUrenDievenDag}}</td>
        <td ng-show="c.verwachtUrenDievenDag - c.resultaatUrenDievenDag< 0" style="color:red;">{{c.resultaatUrenDievenDag}}</td>
          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>

        <tr ng-repeat="x in weekplanningen | orderBy:'-weeknr'" id="{{c.weeknr}}" ng-show="content=='dieven'">
        <td><p style="font-weight:bold;">Weeknummer: </p>{{x.weeknr}}</td>
        <td><p style="font-weight:bold;">Verwachte plantenaantal: </p>{{x.plantenDieven/5}}</td>
        <td><p style="font-weight:bold;">Verwachte norm: </p>{{x.normVerwachtBlad/5}}</td>
        <td><p style="font-weight:bold;">Prognose uren: </p>{{x.verwachtUrenBlad/5}}</td>
        <td><p style="font-weight:bold;">Benodigde mensen: </p>{{x.mensBladNodig/5}}</td>
        <td ng-show="x.mensBladNodig-x.mensBladBeschikbaar <=0" style="color:green;"><p style="font-weight:bold;">Beschikbare mensen: </p>{{x.mensBladBeschikbaar/5}}</td>
        <td ng-show="x.mensBladNodig-x.mensBladBeschikbaar >0" style="color:red;"><p style="font-weight:bold;">Beschikbare mensen: </p>{{x.mensBladBeschikbaar/5}}</td>
    </tr>


                <tr ng-repeat="c in dagplanningen | orderBy:'-datum'" id="{{c.datum}}" ng-show="content=='bladknippen'">
                <td>{{c.datum}}</td>
                <td>{{c.tuinBlad}}</td>
          <td>{{c.plantenBladknippenDag}}</td>
          <td>{{c.normBladknippenDag}}</td>
          <td>{{c.verwachtUrenBladDag}}</td>
          <td>{{c.mensNodigBladDag}}</td>
          <td ng-show="c.mensNodigBladDag-c.mensBeschikbaarBladDag >=0" style="color:red;">{{c.mensBeschikbaarBladDag}}</td>
          <td ng-show="c.mensNodigBladDag -c.mensBeschikbaarBladDag <0" style="color:green;">{{c.mensBeschikbaarBladDag}}</td>
        <td ng-show="c.normBladknippenDag - c.normResultaatBladDag >=0" style="color:red;">{{c.normResultaatBladDag}}</td>
        <td ng-show="c.normBladknippenDag - c.normResultaatBladDag <0" style="color:green;">{{c.normResultaatBladDag}}</td>
        <td ng-show="c.verwachtUrenBladDag - c.resultaatUrenBladDag >= 0" style="color:green;">{{c.resultaatUrenBladDag}}</td>
        <td ng-show="c.verwachtUrenBladDag - c.resultaatUrenBladDag < 0" style="color:red;">{{c.resultaatUrenBladDag}}</td>
          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>
<div ng-hide="dataKeus == 'Tuinnummer'">
      <tr ng-repeat="x in weekplanningen | orderBy:'-weeknr'" id="{{c.weeknr}}" ng-show="content=='bladknippen'">
        <td><p style="font-weight:bold;">Weeknummer: </p>{{x.weeknr}}</td>
        <td><p style="font-weight:bold;">Verwachte plantenaantal: </p>{{x.plantenBladknippen/5}}</td>
        <td><p style="font-weight:bold;">Verwachte norm: </p>{{x.normVerwachtDieven/5}}</td>
        <td><p style="font-weight:bold;">Prognose uren: </p>{{x.verwachtUrenDieven/5}}</td>
        <td><p style="font-weight:bold;">Benodigde mensen: </p>{{x.mensDievenNodig/5}}</td>
        <td ng-show="x.mensDievenNodig-x.mensDievenBeschikbaar <=0" style="color:green;"><p style="font-weight:bold;">Beschikbare mensen: </p>{{x.mensDievenBeschikbaar/5}}</td>
        <td ng-show="x.mensDievenNodig-x.mensDievenBeschikbaar >0" style="color:red;"><p style="font-weight:bold;">Beschikbare mensen: </p>{{x.mensDievenBeschikbaar/5}}</td>
    </tr>
    </div>

                <tr ng-repeat="c in dagplanningen | orderBy:'-datum'" id="{{c.datum}}" ng-show="content=='snoeien'">
                <td>{{c.datum}}</td>
                <td>{{c.tuinSnoeien}}</td>
          <td>{{c.plantenSnoeienDag}}</td>
          <td>{{c.normSnoeienDag}}</td>
          <td>{{c.verwachtUrenSnoeienDag}}</td>
          <td>{{c.mensNodigSnoeiDag}}</td>
          <td ng-show="c.mensNodigSnoeiDag-c.mensBeschikbaarSnoeiDag >=0" style="color:red;">{{c.mensBeschikbaarSnoeiDag}}</td>
          <td ng-show="c.mensNodigSnoeiDag -c.mensBeschikbaarSnoeiDag <0" style="color:green;">{{c.mensBeschikbaarSnoeiDag}}</td>
        <td ng-show="c.normSnoeienDag - c.normResultaatSnoeienDag >=0" style="color:red;">{{c.normResultaatSnoeienDag}}</td>
        <td ng-show="c.normSnoeienDag - c.normResultaatSnoeienDag <0" style="color:green;">{{c.normResultaatSnoeienDag}}</td>
        <td ng-show="c.verwachtUrenSnoeienDag - c.resultaatUrenSnoeienDag >= 0" style="color:green;">{{c.resultaatUrenDievenDag}}</td>
        <td ng-show="c.verwachtUrenSnoeienDag - c.resultaatUrenSnoeienDag < 0" style="color:red;">{{c.resultaatUrenSnoeienDag}}</td>
          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>

        <div ng-hide="dataKeus == 'Tuinnummer'">
      <tr ng-repeat="x in weekplanningen | orderBy:'-weeknr'" id="{{c.weeknr}}" ng-show="content=='snoeien'">
        <td><p style="font-weight:bold;">Weeknummer: </p>{{x.weeknr}}</td>
        <td><p style="font-weight:bold;">Verwachte plantenaantal: </p>{{x.plantenSnoeien/5}}</td>
        <td><p style="font-weight:bold;">Verwachte norm: </p>{{x.normVerwachtSnoei/5}}</td>
        <td><p style="font-weight:bold;">Prognose uren: </p>{{x.verwachtUrenSnoei/5}}</td>
        <td><p style="font-weight:bold;">Benodigde mensen: </p>{{x.mensSnoeiNodig/5}}</td>
        <td ng-show="x.mensSnoeiNodig-x.mensSnoeiBeschikbaar <=0" style="color:green;"><p style="font-weight:bold;">Beschikbare mensen: </p>{{x.mensSnoeiNodig/5}}</td>
        <td ng-show="x.mensSnoeiNodig-x.mensSnoeiBeschikbaar >0" style="color:red;"><p style="font-weight:bold;">Beschikbare mensen: </p>{{x.mensSnoeiBeschikbaar/5}}</td>
    </tr>
    </div>

                <tr ng-repeat="c in dagplanningen | orderBy:'-datum'" id="{{c.datum}}" ng-show="content=='zakken'">
                <td>{{c.datum}}</td>
                <td>{{c.tuinZakken}}</td>
          <td>{{c.plantenZakkenDag}}</td>
          <td>{{c.normZakkenDag}}</td>
          <td>{{c.verwachtUrenZakkenDag}}</td>
          <td>{{c.mensNodigZakkenDag}}</td>
          <td ng-show="c.mensNodigZakkenDag-c.mensBeschikbaarZakkenDag >=0" style="color:red;">{{c.mensBeschikbaarZakkenDag}}</td>
          <td ng-show="c.mensNodigZakkenDag -c.mensBeschikbaarZakkenDag <0" style="color:green;">{{c.mensBeschikbaarZakkenDag}}</td>
        <td ng-show="c.normZakkenDag- c.normResultaatZakkenDag >=0" style="color:red;">{{c.normResultaatZakkenDag}}</td>
        <td ng-show="c.normZakkenDag - c.normResultaatZakkenDag <0" style="color:green;">{{c.normResultaatZakkenDag}}</td>
        <td ng-show="c.verwachtUrenZakkenDag - c.resultaatUreZakkenDag >= 0" style="color:green;">{{c.resultaatUrenZakkenDag}}</td>
        <td ng-show="c.verwachtUrenZakkenDag - c.resultaatUrenZakkenDag < 0" style="color:red;">{{c.resultaatUrenZakkenDag}}</td>
          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>

        <div ng-hide="dataKeus == 'Tuinnummer'">
      <tr ng-repeat="x in weekplanningen | orderBy:'-weeknr'" id="{{c.weeknr}}" ng-show="content=='zakken'">
        <td><p style="font-weight:bold;">Weeknummer: </p>{{x.weeknr}}</td>
        <td><p style="font-weight:bold;">Verwachte plantenaantal: </p>{{x.plantenZakken/5}}</td>
        <td><p style="font-weight:bold;">Verwachte norm: </p>{{x.normVerwachtZakken/5}}</td>
        <td><p style="font-weight:bold;">Prognose uren: </p>{{x.verwachtUrenZakken/5}}</td>
        <td><p style="font-weight:bold;">Benodigde mensen: </p>{{x.mensZakkenNodig/5}}</td>
        <td ng-show="x.mensZakkenNodig-x.mensZakkenBeschikbaar <=0" style="color:green;"><p style="font-weight:bold;">Beschikbare mensen: </p>{{x.mensZakkenBeschikbaar/5}}</td>
        <td ng-show="x.mensZakkenNodig-x.mensZakkenBeschikbaar >0" style="color:red;"><p style="font-weight:bold;">Beschikbare mensen: </p>{{x.mensZakkenBeschikbaar/5}}</td>
    </tr>
    </div>

        <tr ng-repeat="c in dagplanningen | orderBy:'-datum'" id="{{c.datum}}" ng-show="content=='verpakking'">
        <td>{{c.datum}}</td>
          <td>{{c.plantenVerpakkingDag}}</td>
          <td>{{c.normVerpakkingDag}}</td>
          <td>{{c.verwachtUrenVerpakkingDag}}</td>
          <td>{{c.verwachtPalletsVerpakkingDag}}</td>
          <td>{{c.mensNodigVerpakkingDag}}</td>
          <td ng-show="c.mensNodigVerpakkingDag-c.mensBeschikbaarVerpakkingDag >=0" style="color:red;">{{c.mensBeschikbaarVerpakkingDag}}</td>
          <td ng-show="c.mensNodigVerpakkingDag -c.mensBeschikbaarVerpakkingDag <0" style="color:green;">{{c.mensBeschikbaarVerpakkingDag}}</td>
          <td ng-show="c.normVerpakkingDag - c.normResultaatVerpakkingDag <0" style="color:green;" >{{c.normResultaatVerpakkingDag}}</td>
          <td ng-show="c.normVerpakkingDag - c.normResultaatVerpakkingDag >=0" style="color:red">{{c.normResultaatVerpakkingDag}}</td>
          <td ng-show="c.verwachtPalletsVerpakkingDag - c.resultaatPalletsVerpakkingDag <=0" style="color:green;">{{c.resultaatPalletsVerpakkingDag}}</td>
          <td ng-show="c.verwachtPalletsVerpakkingDag - c.resultaatPalletsVerpakkingDag >0" style="color:red;">{{c.resultaatPalletsVerpakkingDag}}</td>
          <td ng-show="c.verwachtUrenVerpakkingDag - c.resultaatUrenVerpakkingDag >=0" style="color:green;">{{c.resultaatUrenVerpakkingDag}}</td>
          <td ng-show="c.verwachtUrenVerpakkingDag - c.resultaatUrenVerpakkingDag<0" style="color:red;">{{c.resultaatUrenVerpakkingDag}}</td>
          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>

        <div ng-hide="dataKeus == 'Tuinnummer'">
      <tr ng-repeat="x in weekplanningen | orderBy:'-weeknr'" id="{{c.weeknr}}" ng-show="content=='verpakking'">
        <td><p style="font-weight:bold;">Weeknummer: </p>{{x.weeknr}}</td>
        <td><p style="font-weight:bold;">Verwachte plantenaantal: </p>{{x.plantenVerpakking/5}}</td>
        <td><p style="font-weight:bold;">Verwachte norm: </p>{{x.normVerwachtVerpakking/5}}</td>
        <td><p style="font-weight:bold;">Prognose uren: </p>{{x.verwachtUrenVerpakking/5}}</td>
        <td><p style="font-weight:bold;">Benodigde mensen: </p>{{x.mensVerpakkingNodig/5}}</td>
        <td ng-show="x.mensVerpakkingNodig-x.mensVerpakkingBeschikbaar <=0" style="color:green;"><p style="font-weight:bold;">Beschikbare mensen: </p>{{x.mensVerpakkingBeschikbaar/5}}</td>
        <td ng-show="x.mensVerpakkingNodig-x.mensVerpakkingBeschikbaar >0" style="color:red;"><p style="font-weight:bold;">Beschikbare mensen: </p>{{x.mensVerpakkingBeschikbaar/5}}</td>
    </tr>
    </div>

          <tr ng-repeat="c in dagplanningen | orderBy:'-datum'" id="{{c.datum}}" ng-show="content=='overige'">
          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>

    </table>
</div>
</div>
</div>

              