  <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">Voeg dagplanning toe of pas deze aan</h3>
    </div>
    <div class="modal-body">
      <form name="dagplanning_form" class="form-horizontal" role="form" novalidate>
            <form-element>
                    <input type="date" class="form-control" id="date" name="date" placeholde="DD/MM/YYYY" name="date" ng-model="dagplanning.datum"/> 
             </form-element>

        <h4 style="text-align: center;"; class="modal-title">Oogst</h4>

              <form-element label="TUIN OOGST" mod="dagplanning">
                            <input type="number" class="form-control" name="TuinOogst" placeholder="TUIN OOGST" ng-model="dagplanning.tuinOogst" only-numbers min="1" max="3">
                             <small class="errorMessage" ng-show="dagplanning_form.tuinOogst.$dirty &&dagplanning_form.tuinOogst.$invalid"> Vul een geldige tuin in</small>
            </form-element>

            <form-element label="PLANTEN OOGST" mod="dagplanning">

                <input type="text" class="form-control" name="Plantenoogst" placeholder="PLANTEN OOGST" ng-model="dagplanning.plantenOogstDag" only-numbers>

            </form-element>

            <form-element label="NORM OOGST" mod="dagplanning">
            
                <input type="text" class="form-control" name="NormOogst" placeholder="NORM OOGST" ng-model="dagplanning.normOogstDag" only-numbers>

            </form-element>

            <form-element label="VERWACHTE UREN" mod="dagplanning">
            
                <input type="text" class="form-control" name="VerwachtUrenOogst" placeholder="VERWACHTE UREN OOGST" ng-model="dagplanning.verwachtUrenOogstDag" only-numbers>

            </form-element>

            <form-element label="AANTAL MENSEN NODIG" mod="dagplanning">
            
                <input type="text" class="form-control" name="MensOogstNodig" placeholder="AANTAL MENSEN" ng-model="dagplanning.mensNodigOogstDag" only-numbers>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="dagplanning">
            
                <input type="text" class="form-control" name="MensOogstBeschikbaar" placeholder="AANTAL MENSEN" ng-model="dagplanning.mensBeschikbaarOogstDag" only-numbers>

            </form-element>

            <form-element label="RESULTAAT NORM" mod="dagplanning">
            
                <input type="text" class="form-control" name="ResultaatNormOogst" placeholder="RESULTAAT NORM" ng-model="dagplanning.normResultaatOogstDag" only-numbers>

            </form-element>

            <form-element label="RESULTAAT UREN" mod="dagplanning">
            
                <input type="text" class="form-control" name="ResultaatUrenOogst" placeholder="RESULTAAT UREN" ng-model="dagplanning.resultaatUrenOogstDag" only-numbers>

            </form-element>

        <h4 style="text-align: center;"; class="modal-title">Dieven/draaien</h4>

              <form-element label="TUIN DIEVEN" mod="dagplanning">
                            <input type="number" class="form-control" name="TuinDieven" placeholder="TUIN DIEVEN" ng-model="dagplanning.tuinDieven" only-numbers min="1" max="3">
            </form-element>

            <form-element label="PLANTEN DIEVEN" mod="dagplanning">

                <input type="text" class="form-control" name="PlantenDieven" placeholder="PLANTEN Dieven" ng-model="dagplanning.plantenDievenDag" only-numbers>

            </form-element>

            <form-element label="NORM DIEVEN" mod="dagplanning">
            
                <input type="text" class="form-control" name="NormDieven" placeholder="NORM DIEVEN" ng-model="dagplanning.normDievenDag" only-numbers>

            </form-element>

            <form-element label="VERWACHTE UREN" mod="dagplanning">
            
                <input type="text" class="form-control" name="VerwachtUrenDieven" placeholder="VERWACHTE UREN Dieven" ng-model="dagplanning.verwachtUrenDievenDag" only-numbers>

            </form-element>

            <form-element label="AANTAL MENSEN NODIG" mod="dagplanning">
            
                <input type="text" class="form-control" name="MensDievenNodig" placeholder="AANTAL MENSEN NODIG" ng-model="dagplanning.mensNodigDievenDag" only-numbers>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="dagplanning">
            
                <input type="text" class="form-control" name="MensDievenBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="dagplanning.mensBeschikbaarDievenDag" only-numbers>

            </form-element>

            <form-element label="RESULTAAT NORM" mod="dagplanning">
            
                <input type="text" class="form-control" name="ResultaatNormDieven" placeholder="RESULTAAT NORM" ng-model="dagplanning.normResultaatDievenDag" only-numbers>

            </form-element>

            <form-element label="RESULTAAT UREN" mod="dagplanning">
            
                <input type="text" class="form-control" name="ResultaatUrenDieven" placeholder="RESULTAAT UREN" ng-model="dagplanning.resultaatUrenDievenDag" only-numbers>

            </form-element>

        <h4 style="text-align: center;"; class="modal-title">Bladknippen</h4>

              <form-element label="TUIN BLADKNIPPEN" mod="dagplanning">
                            <input type="number" class="form-control" name="TuinBlad" placeholder="TUIN BLADKNIPPEN" ng-model="dagplanning.tuinBlad" only-numbers min="1" max="3">
            </form-element>

            <form-element label="PLANTEN BLADKNIPPEN" mod="dagplanning">

                <input type="text" class="form-control" name="PlantenBladknippen" placeholder="PLANTEN BLADKNIPPEN" ng-model="dagplanning.plantenBladknippenDag" only-numbers>

            </form-element>

            <form-element label="NORM BLADKNIPPEN" mod="dagplanning">
            
                <input type="text" class="form-control" name="NormBlad" placeholder="NORM BLADKNIPPEN" ng-model="dagplanning.normBladknippenDag" only-numbers>

            </form-element>

            <form-element label="VERWACHTE UREN" mod="dagplanning">
            
                <input type="text" class="form-control" name="VerwachtUrenBlad" placeholder="VERWACHTE UREN BLADKNIPPEN" ng-model="dagplanning.verwachtUrenBladDag" only-numbers>

            </form-element>

            <form-element label="AANTAL MENSEN NODIG" mod="dagplanning">
            
                <input type="text" class="form-control" name="MensBladNodig" placeholder="AANTAL MENSEN NODIG" ng-model="dagplanning.mensNodigBladDag" only-numbers>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="dagplanning">
            
                <input type="text" class="form-control" name="MensBladBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="dagplanning.mensBeschikbaarBladDag" only-numbers>

            </form-element>

            <form-element label="RESULTAAT NORM" mod="dagplanning">
            
                <input type="text" class="form-control" name="ResultaatNormBlad" placeholder="RESULTAAT NORM" ng-model="dagplanning.normResultaatBladDag" only-numbers>

            </form-element>

            <form-element label="RESULTAAT UREN" mod="dagplanning">
            
                <input type="text" class="form-control" name="ResultaatUrenBlad" placeholder="RESULTAAT UREN" ng-model="dagplanning.resultaatUrenBladDag" only-numbers>

            </form-element>

        <h4 style="text-align: center;"; class="modal-title">Snoeien</h4>

              <form-element label="TUIN SNOEIEN" mod="dagplanning">
                            <input type="number" class="form-control" name="TuinSnoeien" placeholder="TUIN SNOEIEN" ng-model="dagplanning.tuinSnoeienDag" only-numbers min="1" max="3">
            </form-element>

            <form-element label="PLANTEN SNOEIEN" mod="dagplanning">

                <input type="text" class="form-control" name="PlantenSnoeien" placeholder="PLANTEN SNOEIEN" ng-model="dagplanning.plantenSnoeienDag" only-numbers>

            </form-element>

            <form-element label="NORM SNOEIEN" mod="dagplanning">
            
                <input type="text" class="form-control" name="NormSnoeien" placeholder="NORM SNOEIEN" ng-model="dagplanning.normSnoeienDag" only-numbers>

            </form-element>

            <form-element label="VERWACHTE UREN" mod="dagplanning">
            
                <input type="text" class="form-control" name="VerwachtUrenSnoeien" placeholder="VERWACHTE UREN SNOEIEN" ng-model="dagplanning.verwachtUrenSnoeienDag" only-numbers>

            </form-element>

            <form-element label="AANTAL MENSEN NODIG" mod="dagplanning">
            
                <input type="text" class="form-control" name="MensSnoeienNodig" placeholder="AANTAL MENSEN NODIG" ng-model="dagplanning.mensNodigSnoeiDag" only-numbers>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="dagplanning">
            
                <input type="text" class="form-control" name="MensSnoeienBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="dagplanning.mensBeschikbaarSnoeiDag" only-numbers>

            </form-element>

            <form-element label="RESULTAAT NORM" mod="dagplanning">
            
                <input type="text" class="form-control" name="ResultaatNormSnoeien" placeholder="RESULTAAT NORM" ng-model="dagplanning.normResultaatSnoeienDag" only-numbers>

            </form-element>

            <form-element label="RESULTAAT UREN" mod="dagplanning">
            
                <input type="text" class="form-control" name="ResultaatUrenSnoeien" placeholder="RESULTAAT UREN" ng-model="dagplanning.resultaatUrenSnoeienDag" only-numbers>

            </form-element>

        <h4 style="text-align: center;"; class="modal-title">Zakken</h4>

              <form-element label="TUIN ZAKKEN" mod="dagplanning">
                            <input type="number" class="form-control" name="TuinZakken" placeholder="TUIN ZAKKEN" ng-model="dagplanning.tuinZakkenDag" only-numbers min="1" max="3">
            </form-element>

            <form-element label="PLANTEN ZAKKEN" mod="dagplanning">

                <input type="text" class="form-control" name="PlantenZakken" placeholder="PLANTEN ZAKKEN" ng-model="dagplanning.plantenZakkenDag" only-numbers>

            </form-element>

            <form-element label="NORM ZAKKEN" mod="dagplanning">
            
                <input type="text" class="form-control" name="NormZakken" placeholder="NORM ZAKKEN" ng-model="dagplanning.normZakkenDag" only-numbers>

            </form-element>

            <form-element label="VERWACHTE UREN" mod="dagplanning">
            
                <input type="text" class="form-control" name="VerwachtUrenZakken" placeholder="VERWACHTE UREN ZAKKEN" ng-model="dagplanning.verwachtUrenZakkenDag" only-numbers>

            </form-element>

            <form-element label="AANTAL MENSEN NODIG" mod="dagplanning">
            
                <input type="text" class="form-control" name="MensZakkenNodig" placeholder="AANTAL MENSEN NODIG" ng-model="dagplanning.mensNodigZakkenDag" only-numbers>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="dagplanning">
            
                <input type="text" class="form-control" name="MensZakkenBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="dagplanning.mensBeschikbaarZakkenDag" only-numbers>

            </form-element>

            <form-element label="RESULTAAT NORM" mod="dagplanning">
            
                <input type="text" class="form-control" name="ResultaatNormZakken" placeholder="RESULTAAT NORM" ng-model="dagplanning.normResultaatZakkenDag" only-numbers>

            </form-element>

            <form-element label="RESULTAAT UREN" mod="dagplanning">
            
                <input type="text" class="form-control" name="ResultaatUrenZakken" placeholder="RESULTAAT UREN" ng-model="dagplanning.resultaatUrenZakkenDag" only-numbers>

            </form-element>

        <h4 style="text-align: center;"; class="modal-title">Verpakking</h4>


            <form-element label="PLANTEN VERPAKKING" mod="dagplanning">

                <input type="text" class="form-control" name="PlantenVerpakking" placeholder="PLANTEN VERPAKKING" ng-model="dagplanning.plantenVerpakkingDag" only-numbers>

            </form-element>

            <form-element label="NORM VERPAKKING" mod="dagplanning">
            
                <input type="text" class="form-control" name="NormVerpakking" placeholder="NORM VERPAKKING" ng-model="dagplanning.normVerpakkingDag" only-numbers>

            </form-element>

            <form-element label="VERWACHTE UREN" mod="dagplanning">
            
                <input type="text" class="form-control" name="VerwachtUrenVerpakking" placeholder="VERWACHTE UREN VERPAKKING" ng-model="dagplanning.verwachtUrenVerpakkingDag" only-numbers>

            </form-element>

            <form-element label="VERWACHTE PALLETS" mod="dagplanning">
            
                <input type="text" class="form-control" name="VerwachtePalletsVerpakking" placeholder="VERWACHTING PALLETS" ng-model="dagplanning.verwachtPalletsVerpakkingDag" only-numbers>

            </form-element>

            <form-element label="AANTAL MENSEN NODIG" mod="dagplanning">
            
                <input type="text" class="form-control" name="MensVerpakkingNodig" placeholder="AANTAL MENSEN NODIG" ng-model="dagplanning.mensNodigVerpakkingDag" only-numbers>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="dagplanning">
            
                <input type="text" class="form-control" name="MensVerpakkingBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="dagplanning.mensBeschikbaarVerpakkingDag" only-numbers>

            </form-element>

            <form-element label="RESULTAAT NORM" mod="dagplanning">
            
                <input type="text" class="form-control" name="ResultaatNormVerpakking" placeholder="RESULTAAT VERPAKKING" ng-model="dagplanning.normResultaatVerpakkingDag" only-numbers>

            </form-element>

            <form-element label="RESULTAAT PALLETS" mod="dagplanning">
            
                <input type="text" class="form-control" name="ResultaatPalletsVerpakking" placeholder="RESULTAAT PALLETS" ng-model="dagplanning.resultaatPalletsVerpakkingDag" only-numbers>

            </form-element>

            <form-element label="RESULTAAT UREN" mod="dagplanning">
            
                <input type="text" class="form-control" name="ResultaatUrenVerpakking" placeholder="RESULTAAT UREN" ng-model="dagplanning.resultaatUrenVerpakkingDag" only-numbers>

            </form-element>

        <h4 style="text-align: center;"; class="modal-title">Overige</h4>                  
            
            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Annuleren</a>
                        <button ng-click="saveDagplanning(dagplanning);"
                                ng-disabled="dagplanning_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>

