<div ng-controller="authCtrl" class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
        <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#" ng-click="logout();">Home</a>
        </li>
        <li>
            <a href="#dashboard">Dashboard</a>
        </li>
        <li ng-show="admin||manager">
            <a href="#Werknemers">Werknemers</a>
        </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
     Planningen <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="active"> <a href="#Planningen/Dagplanning"> Dagplanning </a></li>
        <li>
            <a href="#Planningen/Weekplanning">Weekplanning</a>
        </li>
            
        <li>
            <a href="#Planningen/Jaarplanning">Jaarplanning</a>
        </li>
    </ul>
    </li>
    </ul>
</div>  

    
<hr/>
  <input class="form-control" id="Date" placeholder="DD/MM/YYYY" type="date" ng-model="dagplanning.datum" min="2016-01-01" max="2030-12-31" />

  <button style="margin-top: 1em;" class="btn btn-default" ng-click="getDagplanning(dagplanning)">Vraag dagplanning op</button>
  <hr/>

  <h1 ng-show="exists == '1'">Datum bestaat al</h1>

<button type="button" class="btn btn-danger fa fa-plus" ng-click="open(dagplanning);">&nbsp;Voeg dagplanning toe</button>
<form>
<div class="btn-group">

 <label for="algemeen" class="btn btn-default active">
    <input type="radio" checked=""  id="algemeen" name="content" ng-model="content" value="algemeen" aria-label="Algemeen">Algemeen
  </label>

 <label for="oogst" class="btn btn-default">
    <input type="radio" id="oogst" name="content" ng-model="content" value="oogst" aria-label="Oogst">Oogst
  </label>

   <label for="dieven" class="btn btn-default">
    <input type="radio" id="dieven" name="content" ng-model="content" value="dieven" aria-label="Dieven">Dieven/draaien
  </label>

   <label for="bladknippen" class="btn btn-default">
    <input type="radio" id="bladknippen" name="content" ng-model="content" value="bladknippen" aria-label="Bladknippen">Bladknippen
  </label>

    <label for="snoeien" class="btn btn-default">
    <input type="radio" id="snoeien" name="content" ng-model="content" value="snoeien" aria-label="Snoeien">Snoeien
  </label>

    <label for="zakken" class="btn btn-default">
    <input type="radio" id="zakken" name="content" ng-model="content" value="zakken" aria-label="Zakken">Zakken
  </label>

      <label for="verpakking" class="btn btn-default">
    <input type="radio" id="verpakking" name="content" ng-model="content" value="verpakking" aria-label="Verpakking">Verpakking
  </label>

      <label for="overige" class="btn btn-default">
    <input type="radio" id="overige" name="content" ng-model="content" value="overige" aria-label="Overige">Overige
  </label>
</div>

<div class="table-responsive">
<div class="panel panel-primary">
  <div class="panel-heading">Dagplanningen
    </div>
  <div class="panel-body">
    <table class="table table-striped">
    <tr ng-show="dagplanningen.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
    <tr ng-hide="dagplanningen.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>

    <tr ng-repeat="c in columnsAlgemeen"><th ng-show="content == 'algemeen'">{{c.text}}</th></tr>
    <tr><th ng-show="content == 'oogst'" ng-repeat="c in columnsOogst" >{{c.text}}</th></tr>
    <tr><th ng-show="content == 'dieven'" ng-repeat="c in columnsDieven">{{c.text}}</th></tr>
    <tr><th ng-show="content == 'bladknippen'" ng-repeat="c in columnsBladknippen">{{c.text}}</th></tr>
    <tr><th ng-show="content == 'snoeien'" ng-repeat="c in columnsSnoeien">{{c.text}}</th></tr>
    <tr><th ng-show="content == 'zakken'" ng-repeat="c in columnsZakken">{{c.text}}</th></tr>
    <tr><th ng-show="content == 'verpakking'" ng-repeat="c in columnsVerpakking">{{c.text}}</th></tr>
    <tr><th ng-show="content == 'overige'" ng-repeat="c in columnsOverige">{{c.text}}</th></tr>

    <tr ng-show="content=='oogst'" ng-repeat="c in dagplanningen | orderBy:'+datum'" id="{{c.date}}">
    <td>{{c.tuinOogst}}</td>
        <td>{{c.plantenOogst}}</td>
        <td>{{c.normOogst}}</td>
        <td>{{c.verwachtUrenOogst}}</td>
        <td>{{c.mensOogst}}</td>
        <td>{{c.normResultaatOogst}}</td>
        <td>{{c.resultaatUrenOogst}}</td>
        <td style="width:100px">
            <div class="btn-group">
              <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
            </div>
        </td>
    </tr>

        <tr ng-show="content=='dieven'" ng-repeat="c in dagplanningen | orderBy:'+datum'" id="{{c.date}}">
        <td>{{c.tuinDieven}}</td>
          <td>{{c.plantenDieven}}</td>
          <td>{{c.normDieven}}</td>
          <td>{{c.verwachtUrenDieven}}</td>
          <td>{{c.mensDieven}}</td>
          <td>{{c.normResultaatDieven}}</td>
          <td>{{c.resultaatUrenDieven}}</td>
          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>

                <tr ng-show="content=='bladknippen'" ng-repeat="c in dagplanningen | orderBy:'+datum'" id="{{c.date}}">
                <td>{{c.tuinBlad}}</td>
          <td>{{c.plantenBladknippen}}</td>
          <td>{{c.normBladknippen}}</td>
          <td>{{c.verwachtUrenBlad}}</td>
          <td>{{c.mensBlad}}</td>
          <td>{{c.normResultaatBlad}}</td>
          <td>{{c.resultaatUrenBlad}}</td>
          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>

                <tr ng-show="content=='snoeien'" ng-repeat="c in dagplanningen | orderBy:'+datum'" id="{{c.date}}">
                <td>{{c.tuinSnoeien}}</td>
          <td>{{c.plantenSnoeien}}</td>
          <td>{{c.normSnoeien}}</td>
          <td>{{c.verwachtUrenSnoeien}}</td>
          <td>{{c.mensSnoei}}</td>
          <td>{{c.normResultaatSnoeien}}</td>
          <td>{{c.resultaatUrenSnoeien}}</td>
          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>

                <tr ng-show="content=='zakken'" ng-repeat="c in dagplanningen | orderBy:'+datum'" id="{{c.date}}">
                <td>{{c.tuinZakken}}</td>
          <td>{{c.plantenZakken}}</td>
          <td>{{c.normZakken}}</td>
          <td>{{c.verwachtUrenZakken}}</td>
          <td>{{c.mensZakken}}</td>
          <td>{{c.normResultaatZakken}}</td>
          <td>{{c.resultaatUrenZakken}}</td>
          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>

        <tr ng-show="content=='verpakking'" ng-repeat="c in dagplanningen | orderBy:'+datum'" id="{{c.date}}">
          <td>{{c.plantenVerpakking}}</td>
          <td>{{c.normVerpakking}}</td>
          <td>{{c.verwachtUrenVerpakking}}</td>
          <td>{{c.verwachtPalletsVerpakking}}</td>
          <td>{{c.mensVerpakking}}</td>
          <td>{{c.normResultaatVerpakking}}</td>
          <td>{{c.resultaatPalletsVerpakking}}</td>
          <td>{{c.resultaatUrenVerpakking}}</td>
          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>

          <tr ng-show="content=='overige'" ng-repeat="c in dagplanningen | orderBy:'+datum'" id="{{c.date}}">
          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>

    </table>
</div>
</div>
</div>

              