    <script>  $(document).ready(function(){
    var date_input=$('input[name="date"]'); //our date input has the name "date"
    var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    date_input.datepicker({
      format: 'dd/mm/yyyy',
      container: container,
      todayHighlight: true,
      autoclose: true,
    })
  })</script>

    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">Pas de dagplanning aan [Datum: {{weekplanningen.date}}]</h3>
    </div>
    <div class="modal-body">
        <form name="dagplanning_form" class="form-horizontal" role="form" novalidate>

            <form-element label="Datum" mod="dagplanning">

                <input type="date" class="form-control fa fa-calendar" id="date" name="date" placeholder="DD/MM/YYYY" name="date" ng-model="dagplanning.date"/>
                 <small class="errorMessage" ng-show="dagplanning_form.date.$dirty && dagplanning_form.date.$invalid"> Voer de gewenste datum in</small>                   
            </form-element>

            <form-element>
<h2 style="text-align: center;">Oogst</h2>
            </form-element>
            
            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Annuleren</a>
                        <button ng-click="saveDagplanning(dagplanning);"
                                ng-disabled="dagplanning_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>

