    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-body">
        <form name="jaarplanning_form" class="form-horizontal" role="form">
<form-element label="DATUM" mod="jaarplanning">            
<input id="Date" style="align-content:center; width: 300px; " ng-change="convertWeeknumber(jaarplanning.date);" placeholder="DD/MM/YYYY" type="date" ng-model="jaarplanning.date"/>
</form-element>
            
              <form-element label="JAARTAL" mod="jaarplanning">
                     <input type="number" id="Year" min="2015" max="2030" placeholder="YEAR" ng-model="jaarplanning.jaar"/>
                             <small class="errorMessage" data-ng-show="jaarplanning_form.jaar.$dirty &&jaarplanning_form.jaar.$invalid"> Vul een jaar tussen 2015 en 2030 in.</small>
            </form-element>
            <form-element label="WEEKNUMMER" mod="jaarplanning">
                     <input id="week" type="number" ng-change="addYear(jaarplanning.jaar,jaarplanning.weeknr);" ng-model="jaarplanning.weeknr">
                             <small class="errorMessage" data-ng-show="jaarplanning_form.weeknr.$error.weeknr"> Vul een week tussen 1 en 53 in.</small>
            </form-element>

        <form-element label="WEEKENJAARNUMMER" mod="jaarplanning">
                     <input id="weekenjaar" type="number" value="{{weeknrJaar}}"  ng-model="jaarplanning.weeknrJaar">
                             
            </form-element>


        <h4 style="text-align: center;"; class="modal-title">Oogst</h4>

            <form-element label="PLANTEN OOGST" mod="jaarplanning">

                <input type="text" class="form-control" name="Plantenoogst" placeholder="PLANTEN OOGST" ng-model="jaarplanning.plantenOogst" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.plantenOogst.$dirty &&jaarplanning_form.plantenOogst.$invalid"> Vul het aantal te knippen planten in.</small>

            </form-element>

            <form-element label="VERWACHTE NORM" mod="jaarplanning">
            
                <input type="text" class="form-control" name="VerwachteNormOogst" placeholder="VERWACHTE NORM" ng-model="jaarplanning.normVerwachtOogst" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.normVerwachtOogst.$dirty &&jaarplanning_form.normVerwachtOogst.$invalid"> Vul de verwachte norm in</small>

            </form-element>
            <form-element label="VERWACHTE UREN" mod="jaarplanning">
            
                <input type="text" class="form-control" name="VerwachtUrenOogst" placeholder="VERWACHTE UREN OOGST" ng-model="jaarplanning.verwachtUrenOogst" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.verwachtUrenOogst.$dirty &&jaarplanning_form.verwachtUrenOogst.$invalid"> Vul de beoogde norm in</small>

            </form-element>

            <form-element label="AANTAL MENSEN NODIG" mod="jaarplanning">
            
                <input type="text" class="form-control" name="MensOogstNodig" placeholder="AANTAL MENSEN NODIG" ng-model="jaarplanning.mensOogstNodig" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.mensOogstNodig.$dirty &&jaarplanning_form.mensOogstNodig.$invalid"> Vul het beschikbare aantal mensen in</small>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="jaarplanning">
            
                <input type="text" class="form-control" name="MensOogstBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="jaarplanning.mensOogstBeschikbaar" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.mensOogstBeschikbaar.$dirty &&jaarplanning_form.mensOogstBeschikbaar.$invalid"> Vul het beschikbare aantal mensen in</small>

            </form-element>

            <form-element label="RESULTAAT NORM" mod="jaarplanning">
            
                <input type="text" class="form-control" name="ResultaatNormOogst" placeholder="RESULTAAT NORM" ng-model="jaarplanning.normResultaatOogst" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.normResultaatOogst.$dirty &&jaarplanning_form.normResultaatNormOogst.$invalid"> Vul het normresultaat in</small>

            </form-element>

            <form-element label="RESULTAAT UREN" mod="jaarplanning">
            
                <input type="text" class="form-control" name="ResultaatUrenOogst" placeholder="RESULTAAT UREN" ng-model="jaarplanning.resultaatUrenOogst" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.resultaatUrenOogst.$dirty &&jaarplanning_form.resultaatUrenOogst.$invalid"> Vul de resulterend uren in</small>

            </form-element>

        <h4 style="text-align: center;"; class="modal-title">Dieven/draaien</h4>


            <form-element label="PLANTEN DIEVEN" mod="jaarplanning">

                <input type="text" class="form-control" name="PlantenDieven" placeholder="PLANTEN Dieven" ng-model="jaarplanning.plantenDieven" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.plantenDieven.$dirty &&jaarplanning_form.plantenDieven.$invalid"> Vul het aantal te dieven/draaien planten in.</small>

            </form-element>

            <form-element label="VERWACHTE NORM" mod="jaarplanning">
            
                <input type="text" class="form-control" name="VerwachteNormDieven" placeholder="VERWACHTE NORM" ng-model="jaarplanning.normVerwachtDieven" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.normVerwachtDieven.$dirty &&jaarplanning_form.normVerwachtDieven.$invalid"> Vul de verwachte norm in</small>

            </form-element>

            <form-element label="VERWACHTE UREN" mod="jaarplanning">
            
                <input type="text" class="form-control" name="VerwachtUrenDieven" placeholder="VERWACHTE UREN Dieven" ng-model="jaarplanning.verwachtUrenDieven" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.verwachtUrenDieven.$dirty &&jaarplanning_form.verwachtUrenDieven.$invalid"> Vul de beoogde uren in</small>

            </form-element>

            <form-element label="AANTAL MENSEN NODIG" mod="jaarplanning">
            
                <input type="text" class="form-control" name="MenDievenNodig" placeholder="AANTAL MENSEN NODIG" ng-model="jaarplanning.mensDievenNodig" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.mensDievenNodig.$dirty &&jaarplanning_form.mensDievenNodig.$invalid"> Vul het benodigde aantal mensen in</small>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="jaarplanning">
            
                <input type="text" class="form-control" name="MensDievenBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="jaarplanning.mensDievenBeschikbaar" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.mensDievenBeschikbaar.$dirty &&jaarplanning_form.mensDievenBeschikbaar.$invalid"> Vul het beschikbare aantal mensen in</small>

            </form-element>

            <form-element label="RESULTAAT NORM" mod="jaarplanning">
            
                <input type="text" class="form-control" name="ResultaatNormDieven" placeholder="RESULTAAT NORM" ng-model="jaarplanning.normResultaatDieven" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.normResultaatDieven.$dirty &&jaarplanning_form.normResultaatNormDieven.$invalid"> Vul het normresultaat in</small>

            </form-element>

            <form-element label="RESULTAAT UREN" mod="jaarplanning">
            
                <input type="text" class="form-control" name="ResultaatUrenDieven" placeholder="RESULTAAT UREN" ng-model="jaarplanning.resultaatUrenDieven" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.resultaatUrenDieven.$dirty &&jaarplanning_form.resultaatUrenOogst.$invalid"> Vul de resulterend uren in</small>

            </form-element>

        <h4 style="text-align: center;"; class="modal-title">Bladknippen</h4>


            <form-element label="PLANTEN BLADKNIPPEN" mod="jaarplanning">

                <input type="text" class="form-control" name="PlantenBladknippen" placeholder="PLANTEN BLADKNIPPEN" ng-model="jaarplanning.plantenBladknippen" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.plantenBladknippen.$dirty &&jaarplanning_form.plantenBladknippen.$invalid"> Vul het aantal te bladknippen planten in.</small>

            </form-element>

            <form-element label="VERWACHTE NORM" mod="jaarplanning">
            
                <input type="text" class="form-control" name="VerwachteNormBlad" placeholder="VERWACHTE NORM" ng-model="jaarplanning.normVerwachtBlad" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.normVerwachtBlad.$dirty &&jaarplanning_form.normVerwachtBlad.$invalid"> Vul de verwachte norm in</small>

            </form-element>

            <form-element label="VERWACHTE UREN" mod="jaarplanning">
            
                <input type="text" class="form-control" name="VerwachtUrenBlad" placeholder="VERWACHTE UREN BLADKNIPPEN" ng-model="jaarplanning.verwachtUrenBlad" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.verwachtUrenBlad.$dirty &&jaarplanning_form.verwachtUrenBlad.$invalid"> Vul de beoogde uren in</small>

            </form-element>

            <form-element label="AANTAL MENSEN NODIG" mod="jaarplanning">
            
                <input type="text" class="form-control" name="MensBladNodig" placeholder="AANTAL MENSEN NODIG" ng-model="jaarplanning.mensBladNodig" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.mensBladNodig.$dirty &&jaarplanning_form.mensBladNodig.$invalid"> Vul het benodigde aantal mensen in</small>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="jaarplanning">
            
                <input type="text" class="form-control" name="MensBladBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="jaarplanning.mensBladBeschikbaar" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.mensBladBeschikbaar.$dirty &&jaarplanning_form.mensBladBeschikbaar.$invalid"> Vul het beschikbare aantal mensen in</small>

            </form-element>

            <form-element label="RESULTAAT NORM" mod="jaarplanning">
            
                <input type="text" class="form-control" name="ResultaatNormBlad" placeholder="RESULTAAT NORM" ng-model="jaarplanning.normResultaatBlad" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.normResultaatBlad.$dirty &&jaarplanning_form.normResultaatNormBlad.$invalid"> Vul het normresultaat in</small>

            </form-element>

            <form-element label="RESULTAAT UREN" mod="jaarplanning">
            
                <input type="text" class="form-control" name="ResultaatUrenBlad" placeholder="RESULTAAT UREN" ng-model="jaarplanning.resultaatUrenBlad" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.resultaatUrenBlad.$dirty &&jaarplanning_form.resultaatUrenBlad.$invalid"> Vul de resulterend uren in</small>

            </form-element>

        <h4 style="text-align: center;"; class="modal-title">Snoeien</h4>

            <form-element label="PLANTEN SNOEIEN" mod="jaarplanning">

                <input type="text" class="form-control" name="PlantenSnoeien" placeholder="PLANTEN SNOEIEN" ng-model="jaarplanning.plantenSnoeien" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.plantenSnoeien.$dirty &&jaarplanning_form.plantenSnoeien.$invalid"> Vul het aantal te snoeien planten in.</small>

            </form-element>

            <form-element label="VERWACHTE NORM" mod="jaarplanning">
            
                <input type="text" class="form-control" name="VerwachteNormSnoei" placeholder="VERWACHTE NORM" ng-model="jaarplanning.normVerwachtSnoei" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.normVerwachtSnoei.$dirty &&jaarplanning_form.normVerwachtSnoei.$invalid"> Vul de verwachte norm in</small>

            </form-element>

            <form-element label="VERWACHTE UREN" mod="jaarplanning">
            
                <input type="text" class="form-control" name="VerwachtUrenSnoeien" placeholder="VERWACHTE UREN SNOEIEN" ng-model="jaarplanning.verwachtUrenSnoeien" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.verwachtUrenSnoeien.$dirty &&jaarplanning_form.verwachtUrenSnoeien.$invalid"> Vul de beoogde uren in</small>

            </form-element>

            <form-element label="AANTAL MENSEN NODIG" mod="jaarplanning">
            
                <input type="text" class="form-control" name="MensSnoeiNodig" placeholder="AANTAL MENSEN NODIG" ng-model="jaarplanning.mensSnoeiNodig" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.mensSnoeiNodig.$dirty &&jaarplanning_form.mensSnoeiNodig.$invalid"> Vul het benodigde aantal mensen in</small>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="jaarplanning">
            
                <input type="text" class="form-control" name="MensSnoeiBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="jaarplanning.mensSnoeiBeschikbaar" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.mensSnoeiBeschikbaar.$dirty &&jaarplanning_form.mensSnoeiBeschikbaar.$invalid"> Vul het beschikbare aantal mensen in</small>

            </form-element>

            <form-element label="RESULTAAT NORM" mod="jaarplanning">
            
                <input type="text" class="form-control" name="ResultaatNormSnoeien" placeholder="RESULTAAT NORM" ng-model="jaarplanning.normResultaatSnoeien" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.normResultaatSnoeien.$dirty &&jaarplanning_form.normResultaatNormSnoeien.$invalid"> Vul het normresultaat in</small>

            </form-element>

            <form-element label="RESULTAAT UREN" mod="jaarplanning">
            
                <input type="text" class="form-control" name="ResultaatUrenSnoeien" placeholder="RESULTAAT UREN" ng-model="jaarplanning.resultaatUrenSnoeien" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.resultaatUrenSnoeien.$dirty &&jaarplanning_form.resultaatUrenSnoeien.$invalid"> Vul de resulterend uren in</small>

            </form-element>

        <h4 style="text-align: center;"; class="modal-title">Zakken</h4>

            <form-element label="PLANTEN DIEVEN" mod="jaarplanning">

                <input type="text" class="form-control" name="PlantenZakken" placeholder="PLANTEN ZAKKEN" ng-model="jaarplanning.plantenZakken" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.plantenZakken.$dirty &&jaarplanning_form.plantenZakken.$invalid"> Vul het aantal te zakken planten in.</small>

            </form-element>

            <form-element label="VERWACHTE NORM" mod="jaarplanning">
            
                <input type="text" class="form-control" name="VerwachteNormZakken" placeholder="VERWACHTE NORM" ng-model="jaarplanning.normVerwachtZakken" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.normVerwachtZakken.$dirty &&jaarplanning_form.normVerwachtZakken.$invalid"> Vul de verwachte norm in</small>

            </form-element>

            <form-element label="VERWACHTE UREN" mod="jaarplanning">
            
                <input type="text" class="form-control" name="VerwachtUrenZakken" placeholder="VERWACHTE UREN ZAKKEN" ng-model="jaarplanning.verwachtUrenZakken" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.verwachtUrenZakken.$dirty &&jaarplanning_form.verwachtUrenZakken.$invalid"> Vul de beoogde uren in</small>

            </form-element>

            <form-element label="AANTAL MENSEN NODIG" mod="jaarplanning">
            
                <input type="text" class="form-control" name="MensZakkenNodig" placeholder="AANTAL MENSEN NODIG" ng-model="jaarplanning.mensZakkenNodig" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.mensZakkenNodig.$dirty &&jaarplanning_form.mensZakkenNodig.$invalid"> Vul het benodigde aantal mensen in</small>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="jaarplanning">
            
                <input type="text" class="form-control" name="MensZakkenBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="jaarplanning.mensZakkenBeschikbaar" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.mensZakkenBeschikbaar.$dirty &&jaarplanning_form.mensZakkenBeschikbaar.$invalid"> Vul het beschikbare aantal mensen in</small>

            </form-element>

            <form-element label="RESULTAAT NORM" mod="jaarplanning">
            
                <input type="text" class="form-control" name="ResultaatNormZakken" placeholder="RESULTAAT NORM" ng-model="jaarplanning.normResultaatZakken" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.normResultaatZakken.$dirty &&jaarplanning_form.normResultaatNormZakken.$invalid"> Vul het normresultaat in</small>

            </form-element>

            <form-element label="RESULTAAT UREN" mod="jaarplanning">
            
                <input type="text" class="form-control" name="ResultaatUrenZakken" placeholder="RESULTAAT UREN" ng-model="jaarplanning.resultaatUrenZakken" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.resultaatUrenZakken.$dirty &&jaarplanning_form.resultaatUrenZakken.$invalid"> Vul de resulterend uren in</small>

            </form-element>

        <h4 style="text-align: center;"; class="modal-title">Verpakking</h4>


            <form-element label="Verwachting pallets" mod="jaarplanning">

                <input type="text" class="form-control" name="PlantenVerpakking" placeholder="Verwachting pallets" ng-model="jaarplanning.plantenVerpakking" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.plantenVerpakking.$dirty &&jaarplanning_form.plantenVerpakking.$invalid"> Vul het aantal te verpakken planten in.</small>

            </form-element>

            <form-element label="VERWACHTE NORM" mod="jaarplanning">
            
                <input type="text" class="form-control" name="VerwachteNormVerpakking" placeholder="VERWACHTE NORM" ng-model="jaarplanning.normVerwachtVerpakking" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.normVerwachtVerpakking.$dirty &&jaarplanning_form.normVerwachtVerpakking.$invalid"> Vul de verwachte norm in</small>

            </form-element>

            <form-element label="VERWACHTE UREN" mod="jaarplanning">
            
                <input type="text" class="form-control" name="VerwachtUrenVerpakking" placeholder="VERWACHTE UREN VERPAKKING" ng-model="jaarplanning.verwachtUrenVerpakking" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.verwachtUrenVerpakking.$dirty &&jaarplanning_form.verwachtUrenVerpakking.$invalid"> Vul de beoogde uren in</small>

            </form-element>

            <form-element label="AANTAL MENSEN NODIG" mod="jaarplanning">
            
                <input type="text" class="form-control" name="MensVerpakkingNodig" placeholder="AANTAL MENSEN NODIG" ng-model="jaarplanning.mensVerpakkingNodig" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.mensVerpakkingNodig.$dirty &&jaarplanning_form.mensVerpakkingNodig.$invalid"> Vul het beschikbare aantal mensen in</small>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="jaarplanning">
            
                <input type="text" class="form-control" name="MensVerpakkingBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="jaarplanning.mensVerpakkingBeschikbaar" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.mensVerpakkingBeschikbaar.$dirty &&jaarplanning_form.mensVerpakkingBeschikbaar.$invalid"> Vul het beschikbare aantal mensen in</small>

            </form-element>

            <form-element label="RESULTAAT NORM" mod="jaarplanning">
            
                <input type="text" class="form-control" name="ResultaatNormVerpakking" placeholder="RESULTAAT VERPAKKING" ng-model="jaarplanning.normResultaatVerpakking" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.normResultaatVerpakking.$dirty &&jaarplanning_form.normResultaatNormVerpakking.$invalid"> Vul het normresultaat in</small>

            </form-element>

            <form-element label="RESULTAAT PALLETS" mod="jaarplanning">
            
                <input type="text" class="form-control" name="ResultaatPalletsVerpakking" placeholder="RESULTAAT PALLETS" ng-model="jaarplanning.resultaatPalletsVerpakking" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.resultaatPalletsVerpakking.$dirty &&jaarplanning_form.resultaatPalletsVerpakking.$invalid"> Vul het resulterende aantal pallets in</small>

            </form-element>

            <form-element label="RESULTAAT UREN" mod="jaarplanning">
            
                <input type="text" class="form-control" name="ResultaatUrenVerpakking" placeholder="RESULTAAT UREN" ng-model="jaarplanning.resultaatUrenVerpakking" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.resultaatUrenVerpakking.$dirty &&jaarplanning_form.resultaatUrenVerpakking.$invalid"> Vul de resulterend uren in</small>

            </form-element>

        <h4 style="text-align: center;"; class="modal-title">Overige</h4>  
            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Annuleren</a>
                        <button ng-click="saveJaarplanning(jaarplanning);"
                                ng-disabled="jaarplanning_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>

