<div ng-controller="authCtrl" class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
        <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#" ng-click="logout();">Home</a>
        </li>
        <li>
            <a href="#dashboard">Dashboard</a>
        </li>
        <li>
            <a href="#Werknemers">Werknemers</a>
        </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
     Planningen <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li> <a href="#Planningen/Dagplanning"> Dagplanning </a></li>
        <li>
            <a href="#Planningen/Weekplanning">Weekplanning</a>
        </li>
            
        <li class="active">
            <a href="#Planningen/Jaarplanning">Jaarplanning</a>
        </li>
    </ul>
    </li>
    </ul>
</div>  

<hr/>
  <input class="form-control" id="Date" placeholder="Jaar" type="year" ng-model="jaarplanning.datum" />

  <button style="margin-top: 1em;" class="btn btn-default" ng-click="getJaarplanning(jaarplanning)">Vraag jaarplanning op</button>
  <hr/>

<button type="button" class="btn btn-danger fa fa-plus" ng-click="open(jaarplanning);">&nbsp;Voeg jaarplanning toe</button>
<div class="btn-group" data-toggle="buttons">

 <label class="btn btn-default active">
    <input type="radio" id="algemeen" aria-label="Algemeen">Algemeen
  </label>

 <label class="btn btn-default">
    <input type="radio" id="oogst" aria-label="Oogst">Oogst
  </label>

   <label class="btn btn-default">
    <input type="radio" id="dieven" aria-label="Dieven">Dieven/draaien
  </label>

   <label class="btn btn-default">
    <input type="radio" id="bladknippen" aria-label="Bladknippen">Bladknippen
  </label>

    <label class="btn btn-default">
    <input type="radio" id="snoeien" aria-label="Snoeien">Snoeien
  </label>

    <label class="btn btn-default">
    <input type="radio" id="zakken" aria-label="Zakken">Zakken
  </label>

      <label class="btn btn-default">
    <input type="radio" id="verpakking" aria-label="Verpakking">Verpakking
  </label>

      <label class="btn btn-default">
    <input type="radio" id="overige" aria-label="Overige">Overige
  </label>
</div>

<div class="table-responsive">
<div class="panel panel-primary">
  <div class="panel-heading">Jaarplanningen
    </div>
  <div class="panel-body">
    <table class="table table-striped">
    <tr ng-show="jaarplanningen.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
    <tr ng-hide="jaarplanningen.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
    
<tr ng-repeat="c in columnsAlgemeen"><th ng-show="content == 'algemeen'">{{c.text}}</th></tr>
    <tr><th ng-show="content == 'oogst'" ng-repeat="c in columnsOogst" >{{c.text}}</th></tr>
    <tr><th ng-show="content == 'dieven'" ng-repeat="c in columnsDieven">{{c.text}}</th></tr>
    <tr><th ng-show="content == 'bladknippen'" ng-repeat="c in columnsBladknippen">{{c.text}}</th></tr>
    <tr><th ng-show="content == 'snoeien'" ng-repeat="c in columnsSnoeien">{{c.text}}</th></tr>
    <tr><th ng-show="content == 'zakken'" ng-repeat="c in columnsZakken">{{c.text}}</th></tr>
    <tr><th ng-show="content == 'verpakking'" ng-repeat="c in columnsVerpakking">{{c.text}}</th></tr>
    <tr><th ng-show="content == 'overige'" ng-repeat="c in columnsOverige">{{c.text}}</th></tr>

    <tr ng-show="content=='oogst'" ng-repeat="c in weekplanningen | orderBy:'+datum'" id="{{c.date}}">
        <td>{{c.plantenOogst}}</td>
        <td>{{c.verwachtUrenOogst}}</td>
        <td>{{c.mensOogst}}</td>
        <td>{{c.normResultaatOogst}}</td>
        <td>{{c.resultaatUrenOogst}}</td>
        <td style="width:100px">
            <div class="btn-group">
              <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
            </div>
        </td>
    </tr>

        <tr ng-show="content=='dieven'" ng-repeat="c in weekplanningen | orderBy:'+datum'" id="{{c.date}}">
          <td>{{c.plantenDieven}}</td>
          <td>{{c.verwachtUrenDieven}}</td>
          <td>{{c.mensDieven}}</td>
          <td>{{c.normResultaatDieven}}</td>
          <td>{{c.resultaatUrenDieven}}</td>
          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>

                <tr ng-show="content=='bladknippen'" ng-repeat="c in weekplanningen | orderBy:'+datum'" id="{{c.date}}">
          <td>{{c.plantenBladknippen}}</td>
          <td>{{c.verwachtUrenBlad}}</td>
          <td>{{c.mensBlad}}</td>
          <td>{{c.normResultaatBlad}}</td>
          <td>{{c.resultaatUrenBlad}}</td>
          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>

                <tr ng-show="content=='snoeien'" ng-repeat="c in weekplanningen | orderBy:'+datum'" id="{{c.date}}">
          <td>{{c.plantenSnoeien}}</td>
          <td>{{c.verwachtUrenSnoeien}}</td>
          <td>{{c.mensSnoei}}</td>
          <td>{{c.normResultaatSnoeien}}</td>
          <td>{{c.resultaatUrenSnoeien}}</td>
          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>

                <tr ng-show="content=='zakken'" ng-repeat="c in weekplanningen | orderBy:'+datum'" id="{{c.date}}">
          <td>{{c.plantenZakken}}</td>
          <td>{{c.verwachtUrenZakken}}</td>
          <td>{{c.mensZakken}}</td>
          <td>{{c.normResultaatZakken}}</td>
          <td>{{c.resultaatUrenZakken}}</td>
          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>

        <tr ng-show="content=='verpakking'" ng-repeat="c in weekplanningen | orderBy:'+datum'" id="{{c.date}}">
          <td>{{c.plantenVerpakking}}</td>
          <td>{{c.verwachtUrenVerpakking}}</td>
          <td>{{c.verwachtPalletsVerpakking}}</td>
          <td>{{c.mensVerpakking}}</td>
          <td>{{c.normResultaatVerpakking}}</td>
          <td>{{c.resultaatPalletsVerpakking}}</td>
          <td>{{c.resultaatUrenVerpakking}}</td>
          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>


        <td style="width:100px">
            <div class="btn-group">
              <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteJaarplanning(c);"></button>
            </div>
        </td>
    </tr>
    </table>
</div>
</div>
</div>
              