<h4 class="blog-post-title">Maandplanning</h4>
<hr/>
<button type="button" class="btn btn-danger fa fa-plus" ng-click="open(maandplanning);">&nbsp;Voeg maandplanning toe</button>

<div class="table-responsive">
<div class="panel panel-primary">
  <div class="panel-heading">Maandplanningen
    </div>
  <div class="panel-body">
    <table class="table table-striped">
    <tr ng-show="maandplanningen.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
    <tr ng-hide="maandplanningen.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
    
    <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

    <tr ng-repeat="c in maandplanningen | orderBy:'+id'" id="{{c.id}}">
        <td>{{c.id}}</td>
        <td style="width:100px">
            <div class="btn-group">
              <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteMaandplanning(c);"></button>
            </div>
        </td>
    </tr>
    </table>
</div>
</div>
</div>
              