<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
            <li><a href="#login">Home</a></li>
            <li><a href="#dashboard">Dashboard</a></li>
            <li><a href="#Werknemers">Werknemers</a></li>
            <li><a href="#Planningen/Dagplanning">Dagplanning</a></li>
            <li><a href="#Planningen/Jaarplanning">Jaarplanning</a></li>
        </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="logout();">Logout</a></li>
        <li> <a href="#Planningen/Weekplanning" class="active">Weekplanning</a></li>
        </ul>
        </div>      
    </div>
</nav>

<h4 class="blog-post-title">Weekplanning</h4>
<hr/>
<div>
<button type="button" class="btn btn-danger fa fa-plus" ng-click="open(weekplanning);">&nbsp;Voeg weekplanning toe</button>

  <label>
    <input type="checkbox" id="algemeen" aria-label="Algemeen" checked="true">Algemeen
  </label>

  <label>
    <input type="checkbox" id="oogst" aria-label="Oogst">Oogst
  </label>

    <label>
    <input type="checkbox" id="oogst" aria-label="Dieven">Dieven/draaien
  </label>

    <label>
    <input type="checkbox" id="oogst" aria-label="Bladknippen">Bladknippen
  </label>

    <label>
    <input type="checkbox" id="oogst" aria-label="Snoeien">Snoeien
  </label>

    <label>
    <input type="checkbox" id="oogst" aria-label="Zakken">Zakken
  </label>
</div>

<div class="table-responsive">
<div class="panel panel-primary">
  <div class="panel-heading">Weekplanningen
    </div>
  <div class="panel-body">
    <table class="table table-striped">
    <tr ng-show="weekplanningen.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
    <tr ng-hide="weekplanningen.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
    
    <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

    <tr ng-repeat="c in weekplanningen | orderBy:'+id'" id="{{c.id}}">
        <td>{{c.id}}</td>
        <td style="width:100px">
            <div class="btn-group">
              <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteWeekplanning(c);"></button>
            </div>
        </td>
    </tr>
    </table>
</div>
</div>
</div>
              