<div ng-controller="authCtrl" class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
        <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#" ng-click="logout();">Home</a>
        </li>
        <li>
            <a href="#dashboard">Dashboard</a>
        </li>
        <li ng-show="admin||manager">
            <a href="#Werknemers">Werknemers</a>
        </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
     Planningen <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li> <a href="#Planningen/Dagplanning"> Dagplanning </a></li>
        <li class="active">
            <a href="#Planningen/Weekplanning">Weekplanning</a>
        </li>
            
        <li>
            <a href="#Planningen/Jaarplanning">Jaarplanning</a>
        </li>
    </ul>
    </li>
    </ul>
</div> 
<div class="btn-group">

 <label for="Datum" class="btn btn-default active">
    <input ng-click="filterData();" type="radio" id="Datum" name="dataKeus" ng-model="dataKeus" value="Datum" aria-label="Datum"> Datum
  </label>

 <label for="Weeknummer" class="btn btn-default">
    <input ng-click="filterData();" type="radio" id="weeknummer" name="dataKeus" ng-model="dataKeus" value="Weeknummer" aria-label="Weeknummer"> Weeknummer
  </label>

   <label for="Tuinummer" class="btn btn-default">
    <input ng-click="filterData();" type="radio" id="tuinr" name="dataKeus" ng-model="dataKeus" value="Tuinnummer" aria-label="Tuinnummer"> Tuinnummer
  </label>

  <label for="WeekenTuin" class="btn btn-default">
    <input ng-click="filterData();" type="radio" id="weekEnTuin" name="dataKeus" ng-model="dataKeus" value="WeekEnTuin" aria-label="WeekEnTuin"> Week en tuin
  </label>

</div>
  <p style="font-weight:bold;" ng-repeat="c in weekje">Huidig weeknummer: {{c.text}}</p>
  <p ng-show="dataKeus == 'Datum'" style="font-weight:bold; color: blue; margin-top:0.5em;">Gekozen weeknummer: {{selected}}</p>
<input id="datumWeek" ng-show="dataKeus == 'Datum'" ng-change="selectedWeek(weekplanning.weeknr);" type="date" name="Date" ng-model="weekplanning.weeknr">
<input id="datumWeekNr" ng-show="dataKeus == 'Weeknummer'|| dataKeus == 'WeekEnTuin'" maxlength="7" minlength="7" placeholder="ww-jjjj" type="text" numbers-only name="Weeknummer" ng-model="weekplanning.weeknr">
<input id="tuinWeek" ng-show="dataKeus == 'Tuinnummer' || dataKeus == 'WeekEnTuin'" minlength="1" maxlength="1" type="text" name="Tuinnummer" placeholder="Tuinnummer" ng-model="weekplanning.tuin" numbers-only>

  <button ng-show="dataKeus == 'Datum'" class="btn btn-default" ng-click="getByDatumWeekplanning(weekplanning)">Vraag weekplanning op</button>
  <button ng-show="dataKeus == 'Weeknummer'" class="btn btn-default" ng-click="getByWeekWeekplanning(weekplanning)">Vraag weekplanning op</button>
  <button id="btnDatumTuin" ng-show="dataKeus == 'Tuinnummer'" class="btn btn-default" ng-click="getByTuinWeekplanning(weekplanning)">Vraag weekplanning op</button>
  <button id="btnDatumTuin" ng-show="dataKeus == 'WeekEnTuin'" class="btn btn-default" ng-click="getByTuinEnWeekWeekplanning(weekplanning)">Vraag weekplanning op</button>
<br>
<br>
<button type="button" class="btn btn-danger fa fa-plus" ng-click="open(weekplanning);">&nbsp;Voeg weekplanning toe</button>
<div class="btn-group">

 <label for="oogst" class="btn btn-default">
    <input type="radio" id="oogst" name="content" ng-model="content" value="oogst" aria-label="Oogst">Oogst
  </label>

   <label for="dieven" class="btn btn-default">
    <input type="radio" id="dieven" name="content" ng-model="content" value="dieven" aria-label="Dieven">Dieven/draaien
  </label>

   <label for="bladknippen" class="btn btn-default">
    <input type="radio" id="bladknippen" name="content" ng-model="content" value="bladknippen" aria-label="Bladknippen">Bladknippen
  </label>

    <label for="snoeien" class="btn btn-default">
    <input type="radio" id="snoeien" name="content" ng-model="content" value="snoeien" aria-label="Snoeien">Snoeien
  </label>

    <label for="zakken" class="btn btn-default">
    <input type="radio" id="zakken" name="content" ng-model="content" value="zakken" aria-label="Zakken">Zakken
  </label>

      <label for="verpakking" class="btn btn-default">
    <input type="radio" id="verpakking" name="content" ng-model="content" value="verpakking" aria-label="Verpakking">Verpakking
  </label>

      <label for="overige" class="btn btn-default">
    <input type="radio" id="overige" name="content" ng-model="content" value="overige" aria-label="Overige">Overige
  </label>
</div>

<div class="table-responsive">
<div class="panel panel-primary">
  <div class="panel-heading">Weekplanningen
    </div>
  <div class="panel-body">
    <table class="table table-striped">
    <tr ng-show="weekplanningen.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;Deze weekplanning bestaat niet.</td></tr>
    <tr ng-hide="weekplanningen.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Laden</td></tr>

    <tr><th ng-show="content == 'oogst'" ng-repeat="c in columnsOogst" >{{c.text}}</th></tr>
    <tr><th ng-show="content == 'dieven'" ng-repeat="c in columnsDieven">{{c.text}}</th></tr>
    <tr><th ng-show="content == 'bladknippen'" ng-repeat="c in columnsBladknippen">{{c.text}}</th></tr>
    <tr><th ng-show="content == 'snoeien'" ng-repeat="c in columnsSnoeien">{{c.text}}</th></tr>
    <tr><th ng-show="content == 'zakken'" ng-repeat="c in columnsZakken">{{c.text}}</th></tr>
    <tr><th ng-show="content == 'verpakking'" ng-repeat="c in columnsVerpakking">{{c.text}}</th></tr>
    <tr><th ng-show="content == 'overige'" ng-repeat="c in columnsOverige">{{c.text}}</th></tr>

    <tr ng-show="content=='oogst'" ng-repeat="c in weekplanningen | orderBy:'-weeknr'" id="{{c.weeknr}}">
    <td>{{c.weeknr}}</td>
    <td>{{c.tuin}}</td>
        <td>{{c.plantenOogst}}</td>
        <td>{{c.normVerwachtOogst}}</td>
        <td>{{c.verwachtUrenOogst}}</td>
        <td>{{c.mensOogstNodig}}</td>
        <td ng-show="c.mensOogstNodig-c.mensOogstBeschikbaar >=0" style="color:red;">{{c.mensOogstBeschikbaar}}</td>
        <td ng-show="c.mensOogstNodig-c.mensOogstBeschikbaar <0" style="color:green;">{{c.mensOogstBeschikbaar}}</td>
        <td ng-show="c.normVerwachtOogst - c.resultaatNormOogst >=0" style="color:red;">{{c.resultaatNormOogst}}</td>
        <td ng-show="c.normVerwachtOogst - c.resultaatNormOogst <0" style="color:green;">{{c.resultaatNormOogst}}</td>
        <td ng-show="c.verwachtUrenOogst - c.resultaatUrenOogst >= 0" style="color:green;">{{c.resultaatUrenOogst}}</td>
        <td ng-show="c.verwachtUrenOogst - c.resultaatUrenOogst < 0" style="color:red;">{{c.resultaatUrenOogst}}</td>
        <td style="width:100px">
            <div class="btn-group">
              <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
            </div>
        </td>
    </tr>

        <tr ng-show="content=='dieven'" ng-repeat="c in weekplanningen | orderBy:'-week'" id="{{c.weeknr}}">
        <td>{{c.weeknr}}</td>
        <td>{{c.tuin}}</td>
          <td>{{c.plantenDieven}}</td>
          <td>{{c.normVerwachtDieven}}</td>
          <td>{{c.verwachtUrenDieven}}</td>
          <td>{{c.mensDievenNodig}}</td>
        <td ng-show="c.mensDievenNodig-c.mensDievenBeschikbaar >=0" style="color:red;">{{c.mensDievenBeschikbaar}}</td>
        <td ng-show="c.mensDievenNodig-c.mensDievenBeschikbaar <0" style="color:green;">{{c.mensDievenBeschikbaar}}</td>
        <td ng-show="c.normVerwachtDieven - c.resultaatNormDieven >=0" style="color:red;">{{c.resultaatNormDieven}}</td>
        <td ng-show="c.normVerwachtDieven- c.resultaatNormDieven <0" style="color:green;">{{c.resultaatNormDieven}}</td>
        <td ng-show="c.verwachtUrenDieven - c.resultaatUrenDieven >= 0" style="color:green;">{{c.resultaatUrenDieven}}</td>
        <td ng-show="c.verwachtUrenDieven - c.resultaatUrenDieven < 0" style="color:red;">{{c.resultaatUrenDieven}}</td>
          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>

                <tr ng-show="content=='bladknippen'" ng-repeat="c in weekplanningen | orderBy:'-weeknr'" id="{{c.weeknr}}">
                <td>{{c.weeknr}}</td>
                <td>{{c.tuin}}</td>
          <td>{{c.plantenBladknippen}}</td>
          <td>{{c.normVerwachtBlad}}</td>
          <td>{{c.mensBladNodig}}</td>
          <td>{{c.verwachtUrenBlad}}</td>
        <td ng-show="c.mensBladNodig - c.mensBladBeschikbaar >=0" style="color:red;">{{c.mensBladBeschikbaar}}</td>
        <td ng-show="c.mensBladNodig - c.mensBladBeschikbaar <0" style="color:green;">{{c.mensBladBeschikbaar}}</td>
        <td ng-show="c.normVerwachtBlad - c.resultaatNormBlad >=0" style="color:red;">{{c.resultaatNormBlad}}</td>
        <td ng-show="c.normVerwachtBlad- c.resultaatNormBlad <0" style="color:green;">{{c.resultaatNormBlad}}</td>
        <td ng-show="c.verwachtUrenBlad - c.resultaatUrenBlad >= 0" style="color:green;">{{c.resultaatUrenBlad}}</td>
        <td ng-show="c.verwachtUrenBlad - c.resultaatUrenBlad < 0" style="color:red;">{{c.resultaatUrenBlad}}</td>
          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>

                <tr ng-show="content=='snoeien'" ng-repeat="c in weekplanningen | orderBy:'-weeknr'" id="{{c.weeknr}}">
                <td>{{c.weeknr}}</td>
                <td>{{c.tuin}}</td>
          <td>{{c.plantenSnoeien}}</td>
          <td>{{c.normVerwachtSnoei}}</td>
          <td>{{c.mensSnoeiNodig}}</td>
        <td ng-show="c.mensSnoeiNodig-c.mensSnoeiBeschikbaar >=0" style="color:red;">{{c.mensSnoeiBeschikbaar}}</td>
        <td ng-show="c.mensSnoeiNodig-c.mensSnoeiBeschikbaar <0" style="color:green;">{{c.mensSnoeiBeschikbaar}}</td>
        <td ng-show="c.normVerwachtSnoei - c.resultaatNormSnoei >=0" style="color:red;">{{c.resultaatNormSnoei}}</td>
        <td ng-show="c.normVerwachtSnoei- c.resultaatNormSnoei <0" style="color:green;">{{c.resultaatNormSnoei}}</td>
        <td ng-show="c.verwachtUrenSnoei - c.resultaatUrenSnoei >= 0" style="color:green;">{{c.resultaatUrenSnoei}}</td>
        <td ng-show="c.verwachtUrenSnoei - c.resultaatUrenSnoei < 0" style="color:red;">{{c.resultaatUrenSnoei}}</td>
          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>

                <tr ng-show="content=='zakken'" ng-repeat="c in weekplanningen | orderBy:'-weeknr'" id="{{c.weeknr}}">
                <td>{{c.weeknr}}</td>
                <td>{{c.tuin}}</td>
          <td>{{c.plantenZakken}}</td>
          <td>{{c.normVerwachtZakken}}</td>
          <td>{{c.mensZakkenNodig}}</td>
          <td>{{c.verwachtUrenSnoei}}</td>
          <td ng-show="c.mensZakkenNodig-c.mensZakkenBeschikbaar >=0" style="color:red;">{{c.mensZakkenBeschikbaar}}</td>
        <td ng-show="c.mensZakkenNodig-c.mensZakkenBeschikbaar <0" style="color:green;">{{c.mensZakkenBeschikbaar}}</td>
        <td ng-show="c.normVerwachtZakken - c.resultaatNormZakken >=0" style="color:red;">{{c.resultaatNormZakken}}</td>
        <td ng-show="c.normVerwachtZakken- c.resultaatNormZakken <0" style="color:green;">{{c.resultaatNormZakken}}</td>
        <td ng-show="c.verwachtUrenZakken - c.resultaatUrenZakken >= 0" style="color:green;">{{c.resultaatUrenZakken}}</td>
        <td ng-show="c.verwachtUrenZakken - c.resultaatUrenZakken < 0" style="color:red;">{{c.resultaatUrenZakken}}</td>
          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>

        <tr ng-show="content=='verpakking'" ng-repeat="c in weekplanningen | orderBy:'+weeknr'" id="{{c.weeknr}}">
        <td>{{c.weeknr}}</td>
          <td>{{c.plantenVerpakking}}</td>
          <td>{{c.normVerwachtVerpakking}}</td>
          <td>{{c.mensVerpakkingNodig}}</td>
          <td>{{c.verwachtUrenVerpakking}}</td>
          <td>{{c.verwachtPalletsVerpakking}}</td>
        <td ng-show="c.mensVerpakkingNodig-c.mensVerpakkingBeschikbaar >=0" style="color:red;">{{c.mensVerpakkingBeschikbaar}}</td>
        <td ng-show="c.mensVerpakkingNodig-c.mensVerpakkingBeschikbaar <0" style="color:green;">{{c.mensVerpakkingBeschikbaar}}</td>
          <td ng-show="c.normVerwachtVerpakking - c.resultaatNormVerpakking <0" style="color:green;" >{{c.resultaatNormVerpakking}}</td>
          <td ng-show="c.normVerwachtVerpakking - c.resultaatNormVerpakking >=0" style="color:red">{{c.resultaatNormVerpakking}}</td>
          <td ng-show="c.verwachtPalletsVerpakking - c.resultaatPalletsVerpakking <=0" style="color:green;">{{c.resultaatPalletsVerpakking}}</td>
          <td ng-show="c.verwachtPalletsVerpakking - c.resultaatPalletsVerpakking >0" style="color:red;">{{c.resultaatPalletsVerpakking}}</td>
          <td ng-show="c.verwachtUrenVerpakking - c.resultaatUrenVerpakking >=0" style="color:green;">{{c.resultaatUrenVerpakking}}</td>
          <td ng-show="c.verwachtUrenVerpakking - c.resultaatUrenVerpakking <0" style="color:red;">{{c.resultaatUrenVerpakking}}</td>>
          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>

          <tr ng-show="content=='overige'" ng-repeat="c in weekplanningen | orderBy:'-weeknr'" id="{{c.weeknr}}">

          <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              </div>
          </td>
        </tr>
    </table>
</div>
</div>
</div>
              