
    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">Voeg een weekplanning toe of pas deze aan.</h3>
    </div>
    <div class="modal-body">
        <form name="weekplanning_form" class="form-horizontal" role="form">
<input type="date" name="Weeknr" ng-change="getW(weekplanning.date);selectedWeek(weekplanning.date);" ng-model="weekplanning.date">

              <form-element label="Weeknummer" mod="weekplanning">
                            <input type="text" class="form-control" name="Weeknummer" placeholder="{{weeknr}}" ng-model="weekplanning.weeknr">
                             <small class="errorMessage" ng-show="weekplanning_form.tuin.$dirty &&weekplanning_form.tuin.$invalid"> Vul een geldige tuin in</small>
            </form-element>
        <h4 style="text-align: center;"; class="modal-title">Kies een tuin</h4>

              <form-element label="TUIN" mod="weekplanning">
                            <input type="number" class="form-control" name="Tuin" placeholder="TUIN" ng-model="weekplanning.tuin" only-numbers maxlength="1" minlength="1">
            </form-element>

        <h4 style="text-align: center;" class="modal-title">Oogst</h4>

            <form-element label="PLANTEN OOGST" mod="weekplanning">

                <input type="text" class="form-control" name="Plantenoogst" placeholder="PLANTEN OOGST" ng-model="weekplanning.plantenOogst" only-numbers>

            </form-element>

            <form-element label="NORM OOGST" mod="weekplanning">
            
                <input type="text" class="form-control" name="verwachtNormOogst" placeholder="NORM OOGST" ng-model="weekplanning.normVerwachtOogst" only-numbers>

            </form-element>

            <form-element label="VERWACHT UREN OOGST" mod="weekplanning">
            
                <input type="text" class="form-control" name="VerwachtUrenOgst" placeholder="VERWACHTING UREN OOGST" ng-model="weekplanning.verwachtUrenOogst" only-numbers>

            </form-element>

            <form-element label="AANTAL MENSEN NODIG" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensOogstNodig" placeholder="AANTAL MENSEN NODIG" ng-model="weekplanning.mensOogstNodig" only-numbers>
            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensOogstBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="weekplanning.mensOogstBeschikbaar" only-numbers>
            </form-element>

            <form-element label="RESULTAAT UREN OOGST" mod="weekplanning">
            
                <input type="text" class="form-control" name="ResultaatUrenOogst" placeholder="RESULTAAT UREN OOGST" ng-model="weekplanning.resultaatUrenOogst" only-numbers>
            </form-element>

            <form-element label="RESULTAAT NORM OOGST" mod="weekplanning">
            
                <input type="text" class="form-control" name="ResultaatNormOogst" placeholder="RESULTAAT NORM OOGST" ng-model="weekplanning.resultaatNormOogst" only-numbers>
            </form-element>

        <h4 style="text-align: center;"; class="modal-title">Dieven/draaien</h4>


            <form-element label="PLANTEN DIEVEN" mod="weekplanning">

                <input type="text" class="form-control" name="PlantenDieven" placeholder="PLANTEN DIEVEN" ng-model="weekplanning.plantenDieven" only-numbers>

            </form-element>

            <form-element label="NORM DIEVEN" mod="weekplanning">
            
                <input type="text" class="form-control" name="normVerwachtDieven" placeholder="NORM DIEVEN" ng-model="weekplanning.normVerwachtDieven" only-numbers>

            </form-element>

            <form-element label="VERWACHT UREN DIEVEN" mod="weekplanning">
            
                <input type="text" class="form-control" name="VerwachtUrenDieven" placeholder="VERWACHTING UREN DIEVEN" ng-model="weekplanning.verwachtUrenDieven" only-numbers>

            </form-element>

            <form-element label="AANTAL MENSEN NODIG" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensDievenNodig" placeholder="AANTAL MENSEN NODIG" ng-model="weekplanning.mensDievenNodig" only-numbers>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensDievenBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="weekplanning.mensDievenBeschikbaar" only-numbers>

            </form-element>

              <form-element label="RESULTAAT UREN DIEVEN" mod="weekplanning">
            
                <input type="text" class="form-control" name="ResultaatUrenDieven" placeholder="RESULTAAT UREN DIEVEN" ng-model="weekplanning.resultaatUrenDieven" only-numbers>
            </form-element>

              <form-element label="RESULTAAT NORM DIEVEN" mod="weekplanning">
            
                <input type="text" class="form-control" name="ResultaatNormDieven" placeholder="RESULTAAT NORM DIEVEN" ng-model="weekplanning.resultaatNormDieven" only-numbers>
            </form-element>

        <h4 style="text-align: center;"; class="modal-title">Bladknippen</h4>


            <form-element label="PLANTEN BLADKNIPPEN" mod="weekplanning">

                <input type="text" class="form-control" name="PlantenBladknippen" placeholder="PLANTEN BLADKNIPPEN" ng-model="weekplanning.plantenBladknippen" only-numbers>

            </form-element>

            <form-element label="NORM BLADKNIPPEN" mod="weekplanning">
            
                <input type="text" class="form-control" name="normVerwachtBlad" placeholder="NORM BLADKNIPPEN" ng-model="weekplanning.normVerwachtBlad" only-numbers>

            </form-element>


            <form-element label="VERWACHT UREN BLAD" mod="weekplanning">
            
                <input type="text" class="form-control" name="VerwachtUrenBlad" placeholder="VERWACHTING UREN BLAD" ng-model="weekplanning.verwachtUrenBlad" only-numbers>

            </form-element>


            <form-element label="AANTAL MENSEN NODIG" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensBladNodig" placeholder="AANTAL MENSEN NODIG" ng-model="weekplanning.mensBladNodig" only-numbers>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensBladBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="weekplanning.mensBladBeschikbaar" only-numbers>

            </form-element>

            <form-element label="RESULTAAT UREN BLAD" mod="weekplanning">
            
                <input type="text" class="form-control" name="ResultaatUrenBlad" placeholder="RESULTAAT UREN BLAD" ng-model="weekplanning.resultaatUrenBlad" only-numbers>
            </form-element>

              <form-element label="RESULTAAT NORM BLAD" mod="weekplanning">
            
                <input type="text" class="form-control" name="ResultaatNormBlad" placeholder="RESULTAAT NORM BLAD" ng-model="weekplanning.resultaatNormBlad" only-numbers>
            </form-element>


        <h4 style="text-align: center;" class="modal-title">Snoeien</h4>

            <form-element label="PLANTEN SNOEIEN" mod="weekplanning">

                <input type="text" class="form-control" name="PlantenSnoeien" placeholder="PLANTEN SNOEIEN" ng-model="weekplanning.plantenSnoeien" only-numbers>

            </form-element>

            <form-element label="NORM SNOEIEN" mod="weekplanning">
            
                <input type="text" class="form-control" name="normVerwachtSnoei" placeholder="NORM SNOEIEN" ng-model="weekplanning.normVerwachtSnoei" only-numbers>

            </form-element>


            <form-element label="VERWACHT UREN SNOEI" mod="weekplanning">
            
                <input type="text" class="form-control" name="VerwachtUrenSnoei" placeholder="VERWACHTING UREN SNOEI" ng-model="weekplanning.verwachtUrenSnoei" only-numbers>

            </form-element>

            <form-element label="AANTAL MENSEN NODIG" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensSnoeiNodig" placeholder="AANTAL MENSEN NODIG" ng-model="weekplanning.mensSnoeiNodig" only-numbers>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensSnoeiBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="weekplanning.mensSnoeiBeschikbaar" only-numbers>
            </form-element>

            <form-element label="RESULTAAT UREN SNOEI" mod="weekplanning">
            
                <input type="text" class="form-control" name="ResultaatUrenSnoei" placeholder="RESULTAAT UREN SNOEI" ng-model="weekplanning.resultaatUrenSnoei" only-numbers>
            </form-element>

            <form-element label="RESULTAAT NORM SNOEI" mod="weekplanning">
            
                <input type="text" class="form-control" name="ResultaatNormSnoei" placeholder="RESULTAAT NORM SNOEI" ng-model="weekplanning.resultaatNormSnoei" only-numbers>
            </form-element>


        <h4 style="text-align: center;"; class="modal-title">Zakken</h4>

            <form-element label="PLANTEN ZAKKEN" mod="weekplanning">

                <input type="text" class="form-control" name="PlantenZakken" placeholder="PLANTEN ZAKKEN" ng-model="weekplanning.plantenZakken" only-numbers>


            </form-element>

            <form-element label="NORM ZAKKEN" mod="weekplanning">
            
                <input type="text" class="form-control" name="normVerwachtZakken" placeholder="NORM ZAKKEN" ng-model="weekplanning.normVerwachtZakken" only-numbers>

            </form-element>


            <form-element label="VERWACHT UREN ZAKKEN" mod="weekplanning">
            
                <input type="text" class="form-control" name="VerwachtUrenZakken" placeholder="VERWACHTING UREN ZAKKEN" ng-model="weekplanning.verwachtUrenZakken" only-numbers>

            </form-element>

            <form-element label="AANTAL MENSEN NODIG" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensZakkenNodig" placeholder="AANTAL MENSEN NODIG" ng-model="weekplanning.mensZakkenNodig" only-numbers>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensZakkenBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="weekplanning.mensZakkenBeschikbaar" only-numbers>

            </form-element>

            <form-element label="RESULTAAT UREN ZAKKEN" mod="weekplanning">
            
                <input type="text" class="form-control" name="ResultaatUrenZakken" placeholder="RESULTAAT UREN ZAKKEN" ng-model="weekplanning.resultaatUrenZakken" only-numbers>
            </form-element>

              <form-element label="RESULTAAT NORM ZAKKEN" mod="weekplanning">
            
                <input type="text" class="form-control" name="ResultaatNormZakken" placeholder="RESULTAAT NORM ZAKKEN" ng-model="weekplanning.resultaatNormZakken" only-numbers>
            </form-element>

        <h4 style="text-align: center;"; class="modal-title">Verpakking</h4>


            <form-element label="PLANTEN VERPAKKING" mod="weekplanning">

                <input type="text" class="form-control" name="PlantenVerpakking" placeholder="PLANTEN VERPAKKING" ng-model="weekplanning.plantenVerpakking" only-numbers>

            </form-element>

            <form-element label="NORM VERPAKKING" mod="weekplanning">
            
                <input type="text" class="form-control" name="normVerwachtVerpakking" placeholder="NORM VERPAKKING" ng-model="weekplanning.normVerwachtVerpakking" only-numbers>

            </form-element>

            <form-element label="VERWACHT UREN VERPAKKING" mod="weekplanning">
            
                <input type="text" class="form-control" name="VerwachtUrenVerpakking" placeholder="VERWACHTING UREN VERPAKKING" ng-model="weekplanning.verwachtUrenVerpakking" only-numbers>

            </form-element>

            <form-element label="VERWACHT PALLETS VERPAKKING" mod="weekplanning">
            
                <input type="text" class="form-control" name="VerwachtPalletsVerpakking" placeholder="VERWACHTING PALLETS VERPAKKING" ng-model="weekplanning.verwachtPalletsVerpakking" only-numbers>

            </form-element>

            <form-element label="AANTAL MENSEN NODIG" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensVerpakkingNodig" placeholder="AANTAL MENSEN NODIG" ng-model="weekplanning.mensVerpakkingNodig" only-numbers>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensVerpakkingBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="weekplanning.mensVerpakkingBeschikbaar" only-numbers>

            </form-element>

            <form-element label="RESULTAAT UREN VERPAKKING" mod="weekplanning">
            
                <input type="text" class="form-control" name="ResultaatUrenVerpakking" placeholder="RESULTAAT UREN VERPAKKING" ng-model="weekplanning.resultaatUrenVerpakking" only-numbers>
            </form-element>

            <form-element label="RESULTAAT NORM VERPAKKING" mod="weekplanning">
            
                <input type="text" class="form-control" name="ResultaatNormZakken" placeholder="RESULTAAT NORM ZAKKEN" ng-model="weekplanning.resultaatNormVerpakking" only-numbers>
            </form-element>

            <form-element label="RESULTAAT PALLETS VERPAKKING" mod="weekplanning">
            
                <input type="text" class="form-control" name="ResultaatPalletsVerpakking" placeholder="RESULTAAT PALLETS VERPAKKING" ng-model="weekplanning.resultaatPalletsVerpakking" only-numbers>

            </form-element>


        <h4 style="text-align: center;"; class="modal-title">Overige</h4>   
            
            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Annuleren</a>
                        <button ng-click="saveWeekplanning(weekplanning);"
                                ng-disabled="weekplanning_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>

