
    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">Voeg een weekplanning toe of pas deze aan.</h3>
    </div>
    <div class="modal-body">
        <form name="weekplanning_form" class="form-horizontal" role="form">
<input type="date" name="Weeknr" ng-change="getW(weekplanning.date);selectedWeek(weekplanning.date);" ng-model="weekplanning.date">

              <form-element label="Weeknummer" mod="weekplanning">
                            <input type="text" class="form-control" name="Weeknummer" placeholder="{{weeknr}}" ng-model="weekplanning.weeknr">
                             <small class="errorMessage" ng-show="weekplanning_form.tuin.$dirty &&weekplanning_form.tuin.$invalid"> Vul een geldige tuin in</small>
            </form-element>
        <h4 style="text-align: center;"; class="modal-title">Kies een tuin</h4>

              <form-element label="TUIN" mod="weekplanning">
                            <input type="number" class="form-control" name="Tuin" placeholder="TUIN" ng-model="weekplanning.tuin" only-numbers min="1" max="3">
                             <small class="errorMessage" ng-show="weekplanning_form.tuin.$dirty &&weekplanning_form.tuin.$invalid"> Vul een geldige tuin in</small>
            </form-element>

        <h4 style="text-align: center;" class="modal-title">Oogst</h4>

            <form-element label="PLANTEN OOGST" mod="weekplanning">

                <input type="text" class="form-control" name="Plantenoogst" placeholder="PLANTEN OOGST" ng-model="weekplanning.plantenOogst" only-numbers>
                 <small class="errorMessage" ng-show="weekplanning_form.plantenOogst.$dirty &&weekplanning_form.plantenOogst.$invalid"> Vul het aantal te knippen planten in.</small>

            </form-element>

            <form-element label="NORM OOGST" mod="weekplanning">
            
                <input type="text" class="form-control" name="verwachtNormOogst" placeholder="NORM OOGST" ng-model="weekplanning.normVerwachtOogst" only-numbers>
                 <small class="errorMessage" ng-show="weekplanning_form.normVerwachtOogst.$dirty &&weekplanning_form.normVerwachtOogst.$invalid"> Vul de beoogde verwachtNorm in</small>

            </form-element>


            <form-element label="AANTAL MENSEN NODIG" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensOogstNodig" placeholder="AANTAL MENSEN NODIG" ng-model="weekplanning.mensOogstNodig" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.mensOogstNodig.$dirty &&jaarplanning_form.mensOogstNodig.$invalid"> Vul het beschikbare aantal mensen in</small>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensOogstBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="weekplanning.mensOogstBeschikbaar" only-numbers>
                 <small class="errorMessage" ng-show="weekplanning_form.mensOogstBeschikbaar.$dirty &&weekplanning_form.mensOogstBeschikbaar.$invalid"> Vul het beschikbare aantal mensen in</small>

            </form-element>

        <h4 style="text-align: center;"; class="modal-title">Dieven/draaien</h4>


            <form-element label="PLANTEN DIEVEN" mod="weekplanning">

                <input type="text" class="form-control" name="PlantenDieven" placeholder="PLANTEN Dieven" ng-model="weekplanning.plantenDieven" only-numbers>
                 <small class="errorMessage" ng-show="weekplanning_form.plantenDieven.$dirty &&weekplanning_form.plantenDieven.$invalid"> Vul het aantal te dieven/draaien planten in.</small>

            </form-element>

            <form-element label="NORM DIEVEN" mod="weekplanning">
            
                <input type="text" class="form-control" name="normVerwachtDieven" placeholder="NORM DIEVEN" ng-model="weekplanning.normVerwachtDieven" only-numbers>
                 <small class="errorMessage" ng-show="weekplanning_form.normVerwachtDieven.$dirty &&weekplanning_form.normVerwachtDieven.$invalid"> Vul de beoogde verwachtNorm in</small>

            </form-element>


            <form-element label="AANTAL MENSEN NODIG" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensDievenNodig" placeholder="AANTAL MENSEN NODIG" ng-model="weekplanning.mensDievenNodig" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.mensDievenNodig.$dirty &&jaarplanning_form.mensDievenNodig.$invalid"> Vul het beschikbare aantal mensen in</small>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensDievenBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="weekplanning.mensDievenBeschikbaar" only-numbers>
                 <small class="errorMessage" ng-show="weekplanning_form.mensDievenBeschikbaar.$dirty &&weekplanning_form.mensDievenBeschikbaar.$invalid"> Vul het beschikbare aantal mensen in</small>

            </form-element>

        <h4 style="text-align: center;"; class="modal-title">Bladknippen</h4>


            <form-element label="PLANTEN BLADKNIPPEN" mod="weekplanning">

                <input type="text" class="form-control" name="PlantenBladknippen" placeholder="PLANTEN BLADKNIPPEN" ng-model="weekplanning.plantenBladknippen" only-numbers>
                 <small class="errorMessage" ng-show="weekplanning_form.plantenBladknippen.$dirty &&weekplanning_form.plantenBladknippen.$invalid"> Vul het aantal te bladknippen planten in.</small>

            </form-element>

            <form-element label="NORM BLADKNIPPEN" mod="weekplanning">
            
                <input type="text" class="form-control" name="normVerwachtBlad" placeholder="NORM BLADKNIPPEN" ng-model="weekplanning.normVerwachtBlad" only-numbers>
                 <small class="errorMessage" ng-show="weekplanning_form.normVerwachtBlad.$dirty &&weekplanning_form.normVerwachtBlad.$invalid"> Vul de beoogde verwachtNorm in</small>

            </form-element>


            <form-element label="AANTAL MENSEN NODIG" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensBladNodig" placeholder="AANTAL MENSEN NODIG" ng-model="weekplanning.mensBladNodig" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.mensBladNodig.$dirty &&jaarplanning_form.mensBladNodig.$invalid"> Vul het beschikbare aantal mensen in</small>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensBladBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="weekplanning.mensBladBeschikbaar" only-numbers>
                 <small class="errorMessage" ng-show="weekplanning_form.mensBladBeschikbaar.$dirty &&weekplanning_form.mensBladBeschikbaar.$invalid"> Vul het beschikbare aantal mensen in</small>

            </form-element>


        <h4 style="text-align: center;" class="modal-title">Snoeien</h4>

            <form-element label="PLANTEN SNOEIEN" mod="weekplanning">

                <input type="text" class="form-control" name="PlantenSnoeien" placeholder="PLANTEN SNOEIEN" ng-model="weekplanning.plantenSnoeien" only-numbers>
                 <small class="errorMessage" ng-show="weekplanning_form.plantenSnoeien.$dirty &&weekplanning_form.plantenSnoeien.$invalid"> Vul het aantal te snoeien planten in.</small>

            </form-element>

            <form-element label="NORM SNOEIEN" mod="weekplanning">
            
                <input type="text" class="form-control" name="normVerwachtSnoei" placeholder="NORM SNOEIEN" ng-model="weekplanning.normVerwachtSnoei" only-numbers>
                 <small class="errorMessage" ng-show="weekplanning_form.normVerwachtSnoei.$dirty &&weekplanning_form.normVerwachtSnoei.$invalid"> Vul de beoogde verwachtNorm in</small>

            </form-element>

            <form-element label="AANTAL MENSEN NODIG" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensSnoeiNodig" placeholder="AANTAL MENSEN NODIG" ng-model="weekplanning.mensSnoeiNodig" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.mensSnoeiNodig.$dirty &&jaarplanning_form.mensSnoeiNodig.$invalid"> Vul het beschikbare aantal mensen in</small>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensSnoeiBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="weekplanning.mensSnoeiBeschikbaar" only-numbers>
                 <small class="errorMessage" ng-show="weekplanning_form.mensSnoeiBeschikbaar.$dirty &&weekplanning_form.mensSnoeiBeschikbaar.$invalid"> Vul het beschikbare aantal mensen in</small>

            </form-element>


        <h4 style="text-align: center;"; class="modal-title">Zakken</h4>

            <form-element label="PLANTEN ZAKKEN" mod="weekplanning">

                <input type="text" class="form-control" name="PlantenZakken" placeholder="PLANTEN ZAKKEN" ng-model="weekplanning.plantenZakken" only-numbers>
                 <small class="errorMessage" ng-show="weekplanning_form.plantenZakken.$dirty &&weekplanning_form.plantenZakken.$invalid"> Vul het aantal te zakken planten in.</small>

            </form-element>

            <form-element label="NORM ZAKKEN" mod="weekplanning">
            
                <input type="text" class="form-control" name="normVerwachtZakken" placeholder="NORM ZAKKEN" ng-model="weekplanning.normVerwachtZakken" only-numbers>
                 <small class="errorMessage" ng-show="weekplanning_form.normVerwachtZakken.$dirty &&weekplanning_form.normVerwachtZakken.$invalid"> Vul de beoogde verwachtNorm in</small>

            </form-element>

            <form-element label="AANTAL MENSEN NODIG" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensZakkenNodig" placeholder="AANTAL MENSEN NODIG" ng-model="weekplanning.mensZakkenNodig" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.mensZakkenNodig.$dirty &&jaarplanning_form.mensZakkenNodig.$invalid"> Vul het beschikbare aantal mensen in</small>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensZakkenBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="weekplanning.mensZakkenBeschikbaar" only-numbers>
                 <small class="errorMessage" ng-show="weekplanning_form.mensZakkenBeschikbaar.$dirty &&weekplanning_form.mensZakkenBeschikbaar.$invalid"> Vul het beschikbare aantal mensen in</small>

            </form-element>

        <h4 style="text-align: center;"; class="modal-title">Verpakking</h4>


            <form-element label="PLANTEN VERPAKKING" mod="weekplanning">

                <input type="text" class="form-control" name="PlantenVerpakking" placeholder="PLANTEN VERPAKKING" ng-model="weekplanning.plantenVerpakking" only-numbers>
                 <small class="errorMessage" ng-show="weekplanning_form.plantenVerpakking.$dirty &&weekplanning_form.plantenVerpakking.$invalid"> Vul het aantal te verpakken planten in.</small>

            </form-element>

            <form-element label="NORM VERPAKKING" mod="weekplanning">
            
                <input type="text" class="form-control" name="normVerwachtVerpakking" placeholder="NORM VERPAKKING" ng-model="weekplanning.normVerwachtVerpakking" only-numbers>
                 <small class="errorMessage" ng-show="weekplanning_form.normVerwachtVerpakking.$dirty &&weekplanning_form.normVerwachtVerpakking.$invalid"> Vul de beoogde verwachtNorm in</small>

            </form-element>

            <form-element label="AANTAL MENSEN NODIG" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensVerpakkingNodig" placeholder="AANTAL MENSEN NODIG" ng-model="weekplanning.mensVerpakkingNodig" only-numbers>
                 <small class="errorMessage" ng-show="jaarplanning_form.mensVerpakkingNodig.$dirty &&jaarplanning_form.mensVerpakkingNodig.$invalid"> Vul het beschikbare aantal mensen in</small>

            </form-element>

            <form-element label="AANTAL MENSEN BESCHIKBAAR" mod="weekplanning">
            
                <input type="text" class="form-control" name="MensVerpakkingBeschikbaar" placeholder="AANTAL MENSEN BESCHIKBAAR" ng-model="weekplanning.mensVerpakkingBeschikbaar" only-numbers>
                 <small class="errorMessage" ng-show="weekplanning_form.mensVerpakkingBeschikbaar.$dirty &&weekplanning_form.mensVerpakkingBeschikbaar.$invalid"> Vul het beschikbare aantal mensen in</small>

            </form-element>


        <h4 style="text-align: center;"; class="modal-title">Overige</h4>   
            
            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Annuleren</a>
                        <button ng-click="saveWeekplanning(weekplanning);"
                                ng-disabled="weekplanning_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>

